{% extends "charts/charts.html" %} {% block chartField %}

<form id="form-ipt" class="form-inline">
	{{ form.modeDate.label }}{% for subfield in form.modeDate %} {{ subfield(onchange='refresh_data()') }}{{ subfield.label }} &nbsp;&nbsp; {% endfor %}
	<input class="btn btn-primary" type="button" value="刷新" onclick="refresh_data()" />
</form>

<!--Echarts图表-->
<div id="chartBar" class="chartField_half"></div>

<!--DataTables表格-->
<div id="dataTableContainer" class="formField">
	<p>真实数据</p>
	<table id="tableSchConDateTrend">
		<thead>
			<tr>
				<th>placeholder</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

<!--预测数据的表格-->
<div id="dataTableContainer2" class="formField">
	<p>预测数据</p>
	<table id="tableSchConDateTrend2">
		<thead>
			<tr>
				<th>placeholder</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

<script>
	$(document).ready(function() {
		// 日期选择表单
		var dateRangePicker = $("input[name='dateRange']");
		dateRangePicker.daterangepicker({
			autoUpdateInput: false,
			locale: {
				format: 'YYYY-MM-DD',
				cancelLabel: 'Clear'
			}
		});
		dateRangePicker.on('apply.daterangepicker', function(ev, picker) {
			$(this).val(picker.startDate.format('YYYY-MM-DD') + ' ~ ' + picker.endDate.format('YYYY-MM-DD'));
		});
		dateRangePicker.on('cancel.daterangepicker', function(ev, picker) {
			$(this).val('');
		});

		// 默认Echarts配置
		var optchartBar = {
			title: {
				text: '学校门禁日期变化',
				subtext: '预测数据标记为灰色区域',
			},
			legend: {top:50,},
			grid:{top:85,},
			tooltip: {
				trigger: 'axis',
				formatter: function(params) {
					if(params['componentType'] == "markArea") {
						return "预测数据区域";
					}

					var str_return = params[0]['name'] + '<br/>';
					for(var i = 0; i < params.length - 1; i++) {
						if(params[i]['value'] != 0) {
							str_return += params[i]['seriesName'] + ' : ' + params[i]['value'].toFixed() + '<br/>'
						}
					}
					return str_return;
				}
			},
			toolbox: {
				show: true,
				feature: {
					dataView: {
						show: true,
						readOnly: false
					},
					magicType: {
						show: true,
						type: ['line', 'bar']
					},
					restore: {
						show: true
					},
				}
			},
			xAxis: {
				type: 'category',
				boundaryGap: true,
				data: []
			},
			yAxis: {
				type: 'value',
				name: '次数',
			},
			dataZoom: [{
				type: 'inside',
				xAxisIndex: [0],
				start: 0,
				end: 100,
			}, {
				type: 'slider',
				xAxisIndex: [0],
				start: 0,
				end: 100,
				handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
				handleSize: '80%',
				handleStyle: {
					color: '#fff',
					shadowBlur: 3,
					shadowColor: 'rgba(0, 0, 0, 0.6)',
					shadowOffsetX: 2,
					shadowOffsetY: 2,
				},
			}],
		};

		refresh_chart = function(chart, legendLabels, axisLabels, seriesData, predictStart) {
			// 预测数据区域的起止X轴
			var firstAxis = predictStart;
			var lastAxis = axisLabels[axisLabels.length - 1];

			// 清空series 并以notMerge 方式更新option.
			var tmp_option = chart.getOption();
			tmp_option.series = [];

			for(var i = 0; i < seriesData.length; i++) {
				tmp_option.series.push({
					name: seriesData[i].name,
					stack: 'ac',
					type: 'bar',
					data: seriesData[i].data
				});
			}
			tmp_option.series.push({
				name: '预测数据',
				type: 'bar',
				stack: 'ac',
				data: 0,
				markArea: {
					data: [
						[{
							xAxis: firstAxis,
						}, {
							xAxis: lastAxis,
						}]
					]
				}
			});
			chart.setOption(tmp_option, true);

			// 选项设定
			chart.setOption({
				legend: {
					data: legendLabels,
				},
				xAxis: [{
					data: axisLabels,
				}],
			});
		}

		refresh_table = function(legendLabels, axisLabels, seriesData, statRows, DOMtableName) {
			// 准备表头列表
			var form_columns = [];
			form_columns = form_columns.concat({
				data: "日期"
			});
			var tableHeadRowJQ = $("#" + DOMtableName + " > thead > tr");
			tableHeadRowJQ.empty();
			tableHeadRowJQ.append("<th>日期</th>");

			for(i = 0; i < legendLabels.length; i++) {
				form_columns = form_columns.concat({
					data: legendLabels[i]
				});
				tableHeadRowJQ.append("<th>" + legendLabels[i] + "</th>");
			}

			// 准备表内容列表
			var form_data = [];
			for(i = 0; i < axisLabels.length; i++) {
				var row = new Object();
				row["日期"] = axisLabels[i];
				for(var j = 0; j < seriesData.length; j++) {
					var colName = seriesData[j].name;
					var colData = seriesData[j].data;
					if(parseInt(colData[i]) != colData[i]) {
						colData[i] = colData[i].toFixed(1);
					}
					row[colName] = colData[i];
				}
				form_data = form_data.concat(row);
			}

			for(i = 0; i < statRows.length; i++) {
				statRows[i]["日期"] = statRows[i]["index"];
				delete statRows[i]["index"];
				for(var val in statRows[i]) {
					// 是数字且不是整数
					if(typeof(statRows[i][val]) == "number" && parseInt(statRows[i][val]) != statRows[i][val]) {
						statRows[i][val] = statRows[i][val].toFixed(3);
					}
				}
			}

			form_data = statRows.concat(form_data);

			$("#" + DOMtableName).dataTable({
				language: {
					url: "{{ url_for('static',filename='Chinese.json') }}",
				},
				destroy: true,
				columns: form_columns,
				data: form_data,
				ordering: true,
				order: [],
				columnDefs: [{
					"orderable": false,
					"targets": 0,
				}]
			});
		}

		// 季的时候error，但是后端正常
		refresh_data = function() {
			chartBar.showLoading();

			$.ajax('/charts/schacdatetrend/getData?' + $("#form-ipt").serialize(), {
				type: 'GET',
				success: function(json_response) {
					chartBar.hideLoading();
					// 还原图表选项
					chartBar.setOption(optchartBar);
					if(!json_response.errMsg) {
						// 真实数据
						var json_origin = json_response['json_origin'];
						
						var axisLabelsOri = json_origin['axisLabels'];
						var seriesDataOri = json_origin['seriesData'];
						var statRowsOri = json_origin['statRows'];
						// 从 seriesDataOri 中获得图例标题，seriesDataOri和seriesDataPre中是一样的，所以只需获取一次
						var legendLabels = [];
						for(var i in seriesDataOri) {
							legendLabels = legendLabels.concat(seriesDataOri[i]['name']);
						}

						// 预测数据数据
						var json_predict = json_response['json_predict'];

						var axisLabelsPre = json_predict['axisLabels'];
						var seriesDataPre = json_predict['seriesData'];
						var statRowsPre = json_predict['statRows'];

						var axisLablesAll = axisLabelsOri.concat(axisLabelsPre); // 横轴坐标无需区分预测和真实，所以合并
						var predictStart=axisLabelsPre[0];	// 预测数据的第一个横轴坐标为预测开始日期
						
						// 合并Echarts格式的seriesData
						var seriesDataAll = [];
						for(var i in seriesDataOri) {
							for(var j in seriesDataPre) {
								if(seriesDataOri[i]['name'] == seriesDataPre[j]['name']) {
									var newList = seriesDataOri[i]['data'].concat(seriesDataPre[j]['data']);
									newList = {
										'name': seriesDataOri[i]['name'],
										'data': newList
									};
									seriesDataAll = seriesDataAll.concat(newList);
								}
							}
						}

						// Echarts图表刷新
						refresh_chart(chartBar, legendLabels, axisLablesAll, seriesDataAll,predictStart);

						// DateTables表格刷新
						refresh_table(legendLabels, axisLabelsOri, seriesDataOri, statRowsOri, "tableSchConDateTrend");
						refresh_table(legendLabels, axisLabelsPre, seriesDataPre, statRowsPre, "tableSchConDateTrend2");

					} else {
						showDialog("出错了", json_response.errMsg);
					}
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					console.log(XMLHttpRequest);
					console.log(textStatus);
					console.log(errorThrown);
					showDialog("出错了", "出现意外情况");
				},
				dataType: 'json'
			});
		};

		// 图表初始化
		var chartBar = echarts.init(document.getElementById('chartBar'));
		// 设置默认配置
		chartBar.setOption(optchartBar);
		// 自动缩放注册
		window.addEventListener('resize',
			function() {
				chartBar.resize();
			});

		$('#tableSchConDateTrend').DataTable();
		refresh_data();
	});
</script>

{% endblock %}