{% extends "charts/charts.html" %} {% block chartField %}

<form id="form-ipt" class="form-inline">
	{{ form.userID(class="form-control", maxlength='8', placeholder='工号', value='PPPWQHXW') }} {{ form.dateRange(class="form-control",size='23',placeholder='日期范围') }}
	<input class="btn btn-primary" type="button" value="确认" onclick="refresh_data()" />
</form>

<!--Echarts图表-->
<div id="chartACCategory" class="chartField"></div>

<!--DataTables表格-->
<div id="dataTableContainer" class="formField">
	<table id="tableACCategory">
		<thead>
			<tr>
				<th>类型</th>
				<th>次数</th>
				<th>比例</th>
			</tr>
		</thead>
	</table>
</div>

<script>
	var dateRangePicker = $("input[name='dateRange']");
	dateRangePicker.daterangepicker({
		autoUpdateInput: false,
		locale: {
			format: 'YYYY-MM-DD',
			cancelLabel: 'Clear'
		}
	});
	dateRangePicker.on('apply.daterangepicker', function(ev, picker) {
		$(this).val(picker.startDate.format('YYYY-MM-DD') + ' ~ ' + picker.endDate.format('YYYY-MM-DD'));
	});
	dateRangePicker.on('cancel.daterangepicker', function(ev, picker) {
		$(this).val('');
	});

	window.addEventListener('resize', function() {
		chartACCategory.resize();
	});

	var optChartACCategory = {
		title: {
			text: '门禁类型比例'
		},
		tooltip: {
			trigger: 'item',
			formatter: "{b} <br/>{c} 次 ({d}%)"
		},
		toolbox: {
			show: true,
			feature: {
				mark: {
					show: true
				},
				dataView: {
					show: true,
					readOnly: false
				},
				restore: {
					show: true
				},
			}
		},
		legend: {
			show: true,
			orient: 'vertical',
			left: 'left',
			top: '30%',
		},
		series: [{
			name: '门禁类型比例',
			type: 'pie',
		}]
	};

	refresh_data = function() {
		if($("#userID").val() == '') {
			showDialog("ID不可为空", json_response.errMsg);
			return;
		};

		chartACCategory.showLoading();

		$.ajax('/charts/accategory/getData?' + $("#form-ipt").serialize(), {
			type: 'GET',
			success: function(json_response) {
				chartACCategory.hideLoading();
				
				if(!json_response.errMsg) {
					var titles = json_response.titles;
					var seriesData = json_response.seriesData;

					// 刷新图表
					chartACCategory.setOption({
						legend: {
							data: titles
						},
						series: [{
							data: seriesData
						}]
					});
					
					// 刷新表格
					var form_columns= [{data:"类型"},{data:"次数"},{data:"比例"}];
					var form_data=[];
					
//					console.log(seriesData);
					
					var i,sum=0;
					for (i=0;i<seriesData.length;i++){
						sum+=seriesData[i]["value"];
						form_data=form_data.concat({"类型":seriesData[i]["name"],"次数":seriesData[i]["value"]});
					}
					for (i=0;i<seriesData.length;i++){
						form_data[i]["比例"]= (Math.round(form_data[i]["次数"] / sum * 10000) / 100.00 + "%");
					}
					
					$("#tableACCategory").dataTable({
						destroy: true,
						columns: form_columns,
						data: form_data,
						ordering: true,
					});
					
				} else {
					showDialog("出错了", json_response.errMsg);
				}
			},
			error: function() {
				showDialog("出错了", "出现意外情况");
			},
			dataType: 'json'
		});
	};

	// 图表初始化
	var chartACCategory = echarts.init(document.getElementById('chartACCategory'));
	chartACCategory.setOption(optChartACCategory);

	$(document).ready(function() {
		$('#tableACCategory').DataTable();
		refresh_data();
	});
</script>
{% endblock %}