{% extends "summarization/summarization.html" %}
{% block chart_acperiodcate %}

    <div id="chartACPeriodCateDate" style="width: inherit; height: 350px;"></div>
    <div id="chartACPeriodCateTime" style="width: inherit; height: 350px;"></div>

    <script>
        var chartACPeriodCateDate = echarts.init(document.getElementById('chartACPeriodCateDate'));
        var chartACPeriodCateTime = echarts.init(document.getElementById('chartACPeriodCateTime'));

        var opt_chartACPeriodCateDate = {
            title: {text: '门禁类型日期趋势'},
            tooltip: {
                trigger: 'axis',
                formatter: function(params){
                    var str_return = params[0].name + '<br/>';
                    for (var i=0; i<params.length; i++){
                        if(params[i].seriesName != '宿舍比重'){
                            str_return += params[i].seriesName + ' : ' + params[i].value + ' 次<br/>'
                        }else
                            str_return += params[i].seriesName + ' : ' + (params[i].value*100).toFixed(2) + ' %<br/>'
                    }
                    return str_return;
                }
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {data: []},
            xAxis: {
                type: 'category',
                boundaryGap: true,
                data: []
            },
            yAxis:[
                {   type: 'value',
                    name: '次数',
                    axisLabel: {
                        formatter: '{value} 次'
                    }
                },
                {   type: 'value',
                    name: '比例',
                    axisLabel: {
                        formatter: function(value){
                            value *= 100;
                            return value+"%";
                        }
                    }
                }
            ],
            dataZoom: [
                {   type: 'inside',
                    xAxisIndex: [0],
                    start: 0,
                    end: 100
                },
                {   type: 'slider',
                    xAxisIndex: [0],
                    start: 0,
                    end: 100
                }
            ],
            series: []
        };
        var opt_chartACPeriodCateTime = {
            title: {text: '门禁类型时间分布'},
            tooltip: {trigger: 'axis'},
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {data: []},
            xAxis: {
                type: 'category',
                boundaryGap: true,
                data: []
            },
            yAxis: {
                type: 'value',
                name: '次数',
                axisLabel: {
                    formatter: '{value} 次'
                }
            },
            series: []
        };

        chartACPeriodCateDate.setOption(opt_chartACPeriodCateDate);
        chartACPeriodCateTime.setOption(opt_chartACPeriodCateTime);



        refresh_chart_ACPeriodCate = function () {
            chartACPeriodCateDate.showLoading();
            chartACPeriodCateTime.showLoading();
            $.get('/charts/acperiodcate/getData?' + $("#form-ipt").serialize(), function (json_response) {
                chartACPeriodCateDate.hideLoading();
                chartACPeriodCateTime.hideLoading();

                // 还原图表选项
                chartACPeriodCateDate.setOption(opt_chartACPeriodCateDate);
                chartACPeriodCateTime.setOption(opt_chartACPeriodCateTime);

                var json_dateTrend;
                var json_timeDistribution;

                json_dateTrend = json_response.json_dateTrend;
                json_timeDistribution = json_response.json_timeDistribution;

                if (!json_response.errMsg) {
                    // 日期趋势图表设定。
                    chartACPeriodCateDate.setOption({
                        legend: {data: json_dateTrend.legendLabels},
                        xAxis: [{
                            data: json_dateTrend.axisLabels
                        }]
                    });
                    for(var i=0; i< json_dateTrend.seriesData.length;i++){
                        var tmp_option = chartACPeriodCateDate.getOption();
                        if (json_dateTrend.seriesData[i].name == '宿舍比重'){
                            tmp_option.series.push({
                                        name: json_dateTrend.seriesData[i].name,
                                        type: 'line',
                                        data: json_dateTrend.seriesData[i].data,
                                        yAxisIndex: 1,
                                        smooth: true,
                            });
                        }else if(json_dateTrend.seriesData[i].name == '总和'){
                            tmp_option.series.push({
                                        name: json_dateTrend.seriesData[i].name,
                                        type: 'bar',
                                        barWidth: 5,
                                        data: json_dateTrend.seriesData[i].data
                            });
                        }else{
                            tmp_option.series.push({
                                        name: json_dateTrend.seriesData[i].name,
                                        stack: 'ac',
                                        type: 'bar',
                                        data: json_dateTrend.seriesData[i].data
                            });
                        }
                        chartACPeriodCateDate.setOption(tmp_option);
                    }

                    // 时间分布图表设定。
                    chartACPeriodCateTime.setOption({
                        legend: {data: json_timeDistribution.legendLabels },
                        xAxis: [{data: json_timeDistribution.axisLabels }]
                    });

                    for (var i = 0; i < json_timeDistribution.seriesData.length; i++) {
                        var tmp_option = chartACPeriodCateTime.getOption();
                        tmp_option.series.push({
                                    name: json_timeDistribution.seriesData[i].name,
                                    stack: 'ac',
                                    type: 'bar',
                                    data: json_timeDistribution.seriesData[i].data
                        });
                        chartACPeriodCateTime.setOption(tmp_option);
                    }

                } else {
                    for (err in json_response.errMsg) {
                        alert(json_response.errMsg[err]);
                    }
                }
            }, 'json')
        };
    </script>

{% endblock %}