{% extends "summarization/summarization.html" %}
{% block chart_accategory %}

    <div id="chartACCategory" style="width: inherit; height: 350px;"></div>

    <script>
        var chartACCategory = echarts.init(document.getElementById('chartACCategory'));

        var opt_chartACCategory = {
            title: {text: '时间段内门禁分类计数'},
            tooltip: {
                trigger: 'item',
                formatter: "{b} : {c} ({d}%)"
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {data: []},
            series: [{
                type: 'pie',
                radious: '55%',
                data: []
            }]
        };

        chartACCategory.setOption(opt_chartACCategory);


        refresh_chart_ACCategory = function () {
            chartACCategory.showLoading();
            $.get('/charts/accategory/getData?' + $("#form-ipt").serialize(), function (json_response) {
                chartACCategory.hideLoading();
                if (!json_response.errMsg) {

                    var titles;
                    var seriesData;

                    titles = json_response.titles;
                    seriesData = json_response.seriesData;

                    chartACCategory.setOption({
                        legend: {data: titles},
                        series: [{data: seriesData}]
                    });
                } else {
                    for (err in json_response.errMsg) {
                        alert(json_response.errMsg[err]);
                    }
                }
            }, 'json')
        };
    </script>

{% endblock %}