{% extends "summarization/summarization.html" %}
{% block chart_conategory %}

    <div id="chartConCategory" style="width: inherit; height: 400px;"></div>

    <script>
        var chartConCategory = echarts.init(document.getElementById('chartConCategory'));

        var optionChartConCategory = {
            title: {text: '消费分类计数'},
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {
                show: true,
                orient: 'horizontal',
                left: 'center',
                data: []
            },
            series: [{
                name: '消费分布',
                type: 'pie',
                radious: '50%',
                center: ['50%','50%'],
                data: []
            }]
        };

        chartConCategory.setOption(optionChartConCategory);


        refresh_chart_ConCategory = function () {
            chartConCategory.showLoading();
            $.get('/charts/concategory/getData?' + $("#form-ipt").serialize(), function (json_response) {
                chartConCategory.hideLoading();
                chartConCategory.setOption(optionChartConCategory);

                var titles;
                var seriesData;

                if (!json_response.errMsg) {

                    titles = json_response.titles;
                    seriesData = json_response.seriesData;

                    chartConCategory.setOption({
                        legend: {data: titles },
                        series: [{data: seriesData}]
                    });
                } else {
                    for (err in json_response.errMsg) {
                        alert(json_response.errMsg[err]);
                    }
                }
            }, 'json')
        };
    </script>

{% endblock %}