{% extends 'base.html' %} {% block content %}
    <!-- 社区分享 来自百度分享 share.baidu.com -->
    <div class="bdsharebuttonbox"
         style="background: #ECF0F1; border-radius: 5px; padding-left: 7px; position: fixed; z-index: 1100; right: 20px; bottom: 20px">
        <a href="#" class="bds_more" data-cmd="more"></a>
        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
        <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
    </div>
    <script>
        window._bd_share_config = {
            "common": {
                "bdSnsKey": {},
                "bdText": "这是我的校园个人成就报告，快来看看我的校园记录吧！",
                "bdMini": "2",
                "bdMiniList": ["mshare", "qzone", "tsina", "bdysc", "weixin", "renren", "tqq", "bdhome", "sqq", "fx", "qingbiji", "people", "xinhua"],
                "bdPic": "witcampus.vicp.net/static/pic/summary/header_boy.png",
                "bdStyle": "1",
                "bdSize": "32"
            }, "share": {}
        };
        with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    </script>
<div id="fullpage">
    <div class="section" id="section0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-5 col-sm-5">
                    <img src='' data-src="../static/pic/summary/header_boy.png">
                </div>
                <div class="col-md-5 col-sm-5">
                    <div style="line-height: 50px; font-size: 36px; font-weight: 400; color: #ECF0F1; margin-top: 20px; margin-bottom: 10px;">
                        您好，
                        <div id="show_userID" style="display: inline; background: #ECF0F1; color: #E74C3C; border-radius: 5px; white-space: nowrap">
                            &nbsp;<span id="label_userID" onclick="switch_userID_iptshow(false)"></span>
                            <i class="fa fa-pencil-square-o" onclick="switch_userID_iptshow(false)"></i>
                        </div>
                        <form id="edit_userID" class="form-inline has-error" style="display: none;" action="#">
                            <input id="ipt_userID" class="form-control" type="text" size="15" maxlength=8
                                   value="{{ userID }}" />
                            <input class="btn btn-info"
                                    type="button" value="确定" onclick="set_userID($('#ipt_userID').val())" />
                            <input class="btn btn-default"
                                    type="reset" value="重置">
                        </form>
                        <br />
                        您的2015年总结：
                    </div>
                    <div id="chartRadar" class="center-block" style="height: 300px;"></div>
                    <p>下滑翻看详情&nbsp;<i class="fa fa-arrow-circle-down"></i></p>
                </div>
                <div class="col-md-1 col-sm-1"></div>
            </div>
        </div>
    </div>
    <div class="section" id="section1">
        <div class="slide" id="slidel1-1">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-5 col-sm-5">
                            <img src='' data-src="../static/pic/summary/section/section1Footprint.png">
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div style="margin-left: 30px">
                                <h1>我的足迹</h1>
                                <p><br /></p>
                                <p id="p1-1">
                                    {% if vals_summary['ret_access']['count_nodes'] == -1 %}
                                        没有找到相关记录。
                                    {% else %}
                                        我曾在 <span>{{ vals_summary['ret_access']['count_nodes'] }}</span> 个地方留下过足迹，
                                        拿下 <span>{{ vals_summary['ret_access']['total_count'] }}</span> 次门禁记录。<br />
                                        <!-- 此处应有地点种类数量判断， -->
                                        {% if vals_summary['ret_access']['ac_items'][1] is defined %}
                                            除了访问了 <span>{{ vals_summary['ret_access']['ac_items'][0]['count'] }}</span>
                                            次的 <span>
                                        {{ vals_summary['ret_access']['ac_items'][0]['node_des'] }}</span> 之外，
                                            <br />
                                            我最爱的是
                                            <span>{{ vals_summary['ret_access']['ac_items'][1]['node_des'] }}</span> ，
                                            在那留下了 <span>{{ vals_summary['ret_access']['ac_items'][1]['count'] }}</span>
                                            次记录。
                                        {% else %}
                                            我最爱的是
                                            <span>{{ vals_summary['ret_access']['ac_items'][0]['node_des'] }}</span>，
                                            在那留下了 <span>{{ vals_summary['ret_access']['ac_items'][0]['count'] }}</span>
                                            次记录。
                                        {% endif %}
                                        <br />
                                        我的一小步，人类一大步。
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="slide1-2">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-10 col-sm-10">
                            <!-- ACCategory -->
                            <div id="chartACCategory" class="center-block" style="width: inherit; height: 475px;"></div>
                        </div>
                        <div class="col-md-1 col-sm-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7"></div>
                        <div class="col-md-1 col-sm-1">
                            <a href='{{ url_for('show_chart_acperiodcate') }}' target="_blank">
                                <button class="button button-highlight button-box button-large button-longshadow-right" style="width: 300px;">
                                        <i class="fa fa-pie-chart"> 查看门禁类型日期趋势</i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section2">
        <div class="slide" id="slide2-1">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-5 col-sm-5">
                            <img src='' data-src="../static/pic/summary/section/section2Schedule.png">
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div style="margin-left: 30px">
                                <h1 style="color: #2C3E50">我的作息</h1>
                                <p><br /></p>
                                <p id="p2-1" style="color: #2C3E50">
                                {% if vals_summary['ret_habit']['count_early'] == -1 %}
                                    没有找到相关记录。
                                {% else %}
                                    又到了起床靠毅力的季节了，<br />
                                    {% if vals_summary['ret_habit']['count_early'] == 0 %}
                                        我的被子上可能存在不知名的结界，从未在早晨7点前解开。
                                    {% else %}
                                        我早起 <span>{{ vals_summary['ret_habit']['count_early'] }}</span> 次，
                                    {% endif %}
                                    <br />
                                    {% if vals_summary['ret_habit']['count_night'] == 0 %}
                                        无晚归记录，习惯良好！ {% else %} 曾在晚上 11 点～早上 6 点之间访问门禁 <span>
                                        {{ vals_summary['ret_habit']['count_night'] }}</span> 次，注意早点休息哟～
                                    {% endif %}
                                {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="slide2-2">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-10 col-sm-10">
                            <!-- ACPeriodCate -->
                            <div id="chartACPeriodCateTime" class="center-block" style="width: inherit; height: 475px;"></div>
                        </div>
                        <div class="col-md-1 col-sm-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7"></div>
                        <div class="col-md-1 col-sm-1">
                            <a href='{{ url_for('show_chart_acperiodcate') }}' target="_blank">
                                <button class="button button-primary button-box button-large button-longshadow-right" style="width: 300px;">
                                        <i class="fa fa-bar-chart"> 查看门禁类型时间分布</i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section3">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 col-sm-1"></div>
                    <div class="col-md-5 col-sm-5">
                        <img src='' data-src="../static/pic/summary/section/section3Study.png">
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div style="margin-left: 30px">
                            <h1>我的学习</h1>
                            <p><br /></p>
                            <p id="p3-1">
                                <!-- ret_study = {'count_lib':count_lib, 'count_acad': count_acad, 'count_sci':count_sci} -->
                                {% if vals_summary['ret_study']['count_acad'] == -1 %}
                                    没有找到相关记录。
                                {% else %}
                                    {% if vals_summary['ret_study']['count_acad'] != 0 %}去过教学楼 <span>
                                        {{ vals_summary['ret_study']['count_acad'] }}</span>次，
                                    {% else %}
                                        没有去过教学楼，
                                    {% endif %}

                                    {% if vals_summary['ret_study']['count_lib'] != 0 %}
                                        成功泡图书馆 <span>{{ vals_summary['ret_study']['count_lib'] }}</span>次，
                                    {% else %}
                                        没有进入图书馆，
                                    {% endif %}

                                    {% if vals_summary['ret_study']['count_sci'] != 0 %} 宅实验室<span>
                                        {{ vals_summary['ret_study']['count_sci'] }}</span> 次。
                                    {% else %}
                                        远离实验室。
                                    {% endif %}
                                    <br />
                                    {% if vals_summary['ret_study']['percent_asc'] > 0.9 %}
                                        比全校 <span>{{ vals_summary['ret_study']['percent_asc']|round(3)*100 }}</span> ％的人都更加努力，可以被称为五星级准学霸！
                                    {% elif vals_summary['ret_study']['percent_asc'] > 0.5 %}
                                        学习热情超过了全校 <span>{{ vals_summary['ret_study']['percent_asc']|round(3)*100 }}</span> ％的人，好学近乎知。
                                    {% elif vals_summary['ret_study']['percent_asc'] > 0.3 %}
                                        比全校 <span>{{ vals_summary['ret_study']['percent_asc']|round(3)*100 }}</span> ％的人更热爱学习。
                                    {% else %}
                                        比全校 <span>{{ (1-vals_summary['ret_study']['percent_asc']|round(3))*100 }}</span> ％的人更悠闲。
                                    {% endif %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section4">
        <div class="slide" id="slide4-1">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-5 col-sm-5">
                            <img src='' data-src="../static/pic/summary/section/section4Friends.png">
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div style="margin-left: 30px">
                                <h1>我的朋友</h1>
                                <p><br /></p>
                                <p id="p4-1">
                                    <!-- ret_social = {'num_relations': num_relations, 'top_name':top_name, 'top_value':top_value } -->
                                    {% if vals_summary['ret_social']['top_value'] == -1 %}
                                        没有找到相关记录。
                                    {% elif vals_summary['ret_social']['top_value'] == 0 %}
                                        同学，最近你在玩失踪么……
                                    {% else %}
                                        奋斗的路上有更多同伴才更有动力，有 <span>{{ vals_summary['ret_social']['num_relations'] }}</span>
                                        位同学曾与我擦肩而过。<br />
                                        <span>{{ vals_summary['ret_social']['top_name'] }}</span> 童鞋，
                                        我们 <span>{{ vals_summary['ret_social']['top_value'] }}</span> 次不断相遇，难道是缘分，难道是天意。
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="slide4-2">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-10 col-sm-10">
                            <!-- chart_relation -->
                            <div id="chartRelation" class="center-block" style="width: inherit; height: 475px;"></div>
                        </div>
                        <div class="col-md-1 col-sm-1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7"></div>
                        <div class="col-md-1 col-sm-1">
                            <a href='{{ url_for('show_chart_relation') }}' target="_blank">
                                <button class="button button-action button-box button-large button-longshadow-right" style="width: 300px;">
                                        <i class="fa fa-pie-chart"> 查看人际关系</i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section5">
        <div class="slide" id="slide5-1">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-5 col-sm-5">
                            <img src='' data-src="../static/pic/summary/section/section5Bill.png">
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div style="margin-left: 30px">
                                <h1>我的账单</h1>
                                <p><br /></p>
                                <p id="p5-1">
                                    <!-- ret_bill = {'total_expend':total_expend, 'con_items': json_ConCategory['seriesData'],
                                'con_per_month': con_per_month} -->
                                    {% if vals_summary['ret_bill']['total_expend'] == -1 or vals_summary['ret_bill']['con_per_month'] == -1%}
                                        没有找到相关记录。
                                    {% else %}
                                        最近一年来，我总共花了 <span>{{ vals_summary['ret_bill']['total_expend'] }}</span> 元，
                                        <br />
                                        <span>{{ vals_summary['ret_bill']['top_cate'] }}</span>
                                        打榜成功，成为我的消费分类TOP 1。<br />

                                        根据长期统计，我的月均支出是 <span>{{ vals_summary['ret_bill']['con_per_month'] }}</span>
                                        元。
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="slide5-2">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-10 col-sm-10">
                            <!-- chart_concategory -->
                            <div id="chartConCategory" class="center-block" style="width: inherit; height: 475px;"></div>
                        </div>
                        <div class="col-md-1 col-sm-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7"></div>
                        <div class="col-md-1 col-sm-1">
                            <a href='{{ url_for('show_chart_accategory') }}' target="_blank">
                                <button class="button button-highlight button-box button-large button-longshadow-right" style="width: 300px;">
                                        <i class="fa fa-pie-chart"> 查看消费分类计数 </i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section6">
        <div class="slide" id="slide6-1">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-5 col-sm-5">
                            <img src='' data-src="../static/pic/summary/section/section6Penalty.png">
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div style="margin-left: 30px">
                                <h1>我的信用</h1>
                                <p><br /></p>
                                <p id="p6-1">
                                    <!-- ret_penalty = {'user_penalty': user_penalty, 'percent_asc': percent_asc} -->
                                    {% if vals_summary['ret_penalty']['user_penalty'] == -1 %}
                                        没有找到相关记录。
                                    {% else %}
                                        在这一年里，我
                                        {% if vals_summary['ret_penalty']['user_penalty'] == 0 %}
                                            从未超期还书。
                                        {% else %}
                                            产生了 <span>{{ vals_summary['ret_penalty']['user_penalty'] }}</span> 元滞纳金。
                                        {% endif %}
                                        <br />
                                        {% if vals_summary['ret_penalty']['percent_asc'] < 0.3 %}
                                            信用记录打败了
                                            <span>{{ (1-vals_summary[ 'ret_penalty'][ 'percent_asc']|round(2))*100 }}</span>
                                            ％的同学，
                                            继续保持噢～
                                        {% elif vals_summary[ 'ret_penalty'][ 'percent_asc']>= 0.6 %}
                                            信用记录落后于
                                            <span>{{ vals_summary['ret_penalty']['percent_asc']|round(2)*100 }}</span>
                                            ％的同学，
                                            记得及时还书哟～
                                        {% endif %}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="slide6-2">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-10 col-sm-10">
                            <!-- chart_penalty -->
                            <div id="chartPenalty" class="center-block" style="width: inherit; height: 475px;"></div>
                        </div>
                        <div class="col-md-1 col-sm-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7"></div>
                        <div class="col-md-1 col-sm-1">
                            <a href='{{ url_for('show_chart_penalty') }}' target="_blank">
                                <button class="button button-royal button-box button-large button-longshadow-right" style="width: 300px;">
                                        <i class="fa fa-area-chart"> 查看滞纳金缴纳情况</i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='echarts2/echarts.js') }}"></script>
<script type="text/javascript">
    // =======================
    // Init and userID set.
    // =======================
    var userID = '{{ userID }}';
    var startDate = '{{ startDate }}';
    var endDate = '{{ endDate }}';
    var chartInput = 'userID=' + userID + '&startDate=' + startDate + '&endDate=' + endDate;
    $('#label_userID').html(userID);

    set_userID = function (new_userID) {
        if (new_userID != userID) {               // If not current ID.
            if (has_userID(new_userID)) {         // Verify.
                userID = new_userID;              // Set.
                $('#label_userID').html(userID);
                switch_userID_iptshow(true);
                window.location.href = '/summary/' + userID;
                chartInput = 'userID=' + userID + '&startDate=' + startDate + '&endDate=' + endDate;

            } else {
                // 若目标用户工号无效则保持原工号
                // 弹出提示
                showDialog("出错了", "找不到这个工号");
            }
        }else{
            switch_userID_iptshow(true);
        }
    };

    has_userID = function(tar_userID){
        var ret_val = false;
        $.ajax('/check_user_id?userID='+tar_userID, {
            async: false,
            type: 'GET',
            success: function (json_response) {
                ret_val = json_response['has_user'] == true;
            },
            error: function () {
                showDialog("出错了", "与服务器断开连接");
                ret_val = false;
            },
            dataType: 'json'
        });
        return ret_val;
    };

    switch_userID_iptshow = function (isShow) {
        if(isShow){
            $('#show_userID').css('display','inline');
            $('#edit_userID').css('display', 'none');
        }else{
            $('#show_userID').css('display', 'none');
            $('#edit_userID').css('display', 'inline');
            $('#ipt_userID').focus();
        }
    };

    // =======================
    // Charts
    // =======================
    // Bind resize event of all charts.
    $(window).resize(function () {
        chartACCategory.resize();
        chartACPeriodCateTime.resize();
        chartConCategory.resize();
        chartPenalty.resize();
        chartRadar.resize();
    });
    // ACCategory
    var chartACCategory = echarts.init(document.getElementById('chartACCategory'));
    var opt_chartACCategory = {
        title: {
            text: '门禁分类计数',
            textStyle: {
                color: '#ECF0F1',
                fontSize: 30
            },
            x: 'right'
        },
        color: ['#FCD781', '#FFB35C', '#FF9447', '#FF7530'],
        textStyle: {
            color: '#ECF0F1',
            fontSize: 14
        },
        tooltip: {
            trigger: 'item',
            formatter: "{b} : {c} ({d}%)"
        },
        legend: {
            data: [],
            textStyle: {
                color: '#ECF0F1',
                fontSize: 18
            },
            x: 'left',
            orient: 'vertical'
        },
        series: [{
            type: 'pie',
            radius: [0, '60%'],
            data: []
        }]
    };
    chartACCategory.setOption(opt_chartACCategory);
    refresh_chart_ACCategory = function() {
        chartACCategory.showLoading();
        $.get('/summary/GetJson_accategory?' + chartInput, function(json_response) {
            chartACCategory.hideLoading();
            if (!json_response.errMsg) {
                var titles;
                var seriesData;
                titles = json_response.titles;
                seriesData = json_response.seriesData;
                chartACCategory.setOption({
                    legend: {
                        data: titles
                    },
                    series: [{
                        data: seriesData
                    }]
                });
            } else {
                showDialog("出错了", json_response.errMsg);
            }
        }, 'json')
    };
    // ACPeriodCate
    var chartACPeriodCateTime = echarts.init(document.getElementById('chartACPeriodCateTime'));
    var opt_chartACPeriodCateTime = {
        title: {
            text: '门禁类型时间分布',
            textStyle: {
                color: '#34495E',
                fontSize: 30
            },
            x: 'right'
        },
        color: ['#BED0F7', '#29A9FF', '#0066FF', '#27446E'],
        grid: {
            width: '80%',
            right: 1
        },
        textStyle: {
            color: '#34495E',
            fontSize: 14
        },
        tooltip: {
            trigger: 'axis',
            formatter: function (params) {
                var str_return = params[0].name + '<br/>';
                for (var i = 0; i < params.length; i++) {
                    str_return += params[i].seriesName + ' : ' + params[i].value + ' 次<br/>'
                }
                return str_return;
            }
        },
        legend: {
            data: [],
            textStyle: {
                color: '#34495E',
                fontSize: 18
            },
            x: 'left',
            orient: 'vertical'
        },
        xAxis: {
            type: 'category',
            boundaryGap: true,
            data: []
        },
        yAxis: {
            type: 'value',
            name: '次数',
            axisLabel: {
                formatter: '{value} 次'
            }
        },
        series: []
    };
    chartACPeriodCateTime.setOption(opt_chartACPeriodCateTime);
    refresh_chart_ACPeriodCate = function() {
        chartACPeriodCateTime.showLoading();
        $.get('/summary/GetJson_acperiodcate?' + chartInput, function(json_response) {
            chartACPeriodCateTime.hideLoading();
            // 还原图表选项
            chartACPeriodCateTime.setOption(opt_chartACPeriodCateTime);
            var json_timeDistribution;
            json_timeDistribution = json_response.json_timeDistribution;
            if (!json_response.errMsg) {
                // 时间分布图表设定。
                chartACPeriodCateTime.setOption({
                    legend: {
                        data: json_timeDistribution.legendLabels
                    },
                    xAxis: [{
                        data: json_timeDistribution.axisLabels
                    }]
                });
                for (var i = 0; i < json_timeDistribution.seriesData.length; i++) {
                    var tmp_option = chartACPeriodCateTime.getOption();
                    tmp_option.series.push({
                        name: json_timeDistribution.seriesData[i].name,
                        stack: 'ac',
                        type: 'bar',
                        data: json_timeDistribution.seriesData[i].data
                    });
                    chartACPeriodCateTime.setOption(tmp_option);
                }
            } else {
                showDialog("出错了", json_response.errMsg);
            }
        }, 'json')
    };
    // chart_relation
    var chartRelation;
    require.config({
        paths: { echarts: '{{ url_for('static',filename='echarts2') }}' }
    });
    require(
        [   'echarts',
            'echarts/chart/force',
            'echarts/chart/chord'
        ],
        function (ec) {
            chartRelation = ec.init(document.getElementById('chartRelation'));
            chartRelation.setOption(option);
        }
    );
    option = {
        title: {
            text: '人脉关系图',
            textStyle: {
                fontFamily: "microsoft yahei, simhei, Helvetica Neue, Helvetica, Arial, sans-serif",
                color: '#ECF0F1',
                fontSize: 30
            }
        },
        tooltip: {
            trigger: 'item'
        }
    };
    refresh_chart_Relation = function () {
        chartRelation.showLoading();
        $.get('/summary/GetJson_relation?' + chartInput, function (json_response) {
            chartRelation.hideLoading();
            if (!json_response.errMsg) {
                // 直接默认显示的 node label 限制
                var min_show_symSize = 1;   // 样式大小
                var max_show_idx = 10;      // 数量
                // 处理点
                json_response.nodes.map(function (node, idx) {
                    node.id = idx;
                        node.itemStyle = {normal:{label:{
                                show: node.symbolSize > min_show_symSize && idx < max_show_idx,
                                textStyle:{
                                    color: '#000'
                                }
                            }
                        }
                    };
                    return node;
                });
                chartRelation.setOption({
                    title: { text: '人脉关系图' },
                    tooltip: {
                        trigger: 'item',
                        formatter: function (params) {
                            console.log(params);
                            if (typeof(params[3]) === 'undefined') {    // nodes
                                return params[1] + ' : ' + params[2];
                            } else {                                    // links
                                return params[1];
                            }
                        }
                    },
                    series: [{
                        type: 'force',
                        roam: true,
                        draggable: true,
                        itemStyle: {
                            normal: {
                                nodeStyle: {
                                    color: ['#ECF0F1'],
                                    borderWidth: 0
                                }
                            }
                        },
                        nodes: json_response.nodes,
                        links: json_response.links
                    }]
                });
            } else {
                showDialog("出错了", json_response.errMsg);
            }
        }, 'json')
    };
    // chart_conategory
    var chartConCategory = echarts.init(document.getElementById('chartConCategory'));
    var optionChartConCategory = {
        title: {
            text: '消费分类计数',
            textStyle: {
                color: '#ECF0F1',
                fontSize: 30
            },
            x: 'right'
        },
        color: ['#F2F5A6', '#FCD781', '#FFB35C', '#FF9447'],
        textStyle: {
            color: '#ECF0F1',
            fontSize: 14
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} 元 ({d}%)"
        },
        legend: {
            show: true,
            data: [],
            textStyle: {
                color: '#ECF0F1',
                fontSize: 18
            },
            x: 'left',
            orient: 'vertical'
        },
        series: [{
            name: '消费分布',
            type: 'pie',
            radius: [0, '60%'],
            data: []
        }]
    };
    chartConCategory.setOption(optionChartConCategory);
    refresh_chart_ConCategory = function() {
        chartConCategory.showLoading();
        $.get('/summary/GetJson_concategory?' + chartInput, function(json_response) {
            chartConCategory.hideLoading();
            chartConCategory.setOption(optionChartConCategory);
            var titles;
            var seriesData;
            if (!json_response.errMsg) {
                titles = json_response.titles;
                seriesData = json_response.seriesData;
                chartConCategory.setOption({
                    legend: {
                        data: titles
                    },
                    series: [{
                        data: seriesData
                    }]
                });
            } else {
                showDialog("出错了", json_response.errMsg);
            }
        }, 'json')
    };
    // chart_penalty
    var chartPenalty = echarts.init(document.getElementById('chartPenalty'));
    var opt_chartPenalty = {
        title: {
            text: '滞纳金缴纳',
            textStyle: {
                color: '#ECF0F1',
                fontSize: 30
            },
            x: 'right'
        },
        color: ['#E67E22'],
        textStyle: {
            color: '#ECF0F1',
            fontSize: 14
        },
        tooltip: {
            trigger: 'axis',
            formatter: function(params) {
                var str_return = '总 ' + params[0].name + ' 元<br/>';
                str_return += params[0].seriesName + ' : ' + params[0].value + ' 人<br/>';
                return str_return;
            }
        },
        xAxis: {
            type: 'category',
            name: '滞纳金总额',
            boundaryGap: false,
            data: [],
            axisLabel: {
                textStyle: {
                    color: '#ECF0F1',
                    fontSize: 14
                }
            }
        },
        yAxis: {
            type: 'value',
            name: '人数',
            axisLabel: {
                formatter: '{value} 人',
                textStyle: {
                    color: '#ECF0F1',
                    fontSize: 14
                }
            }
        },
        series: [{
            name: '人数',
            type: 'line',
            smooth: true,
            stack: 'a',
            areaStyle: {
                normal: {}
            },
            data: [],
            markPoint: {
                data: []
            }
        }],
        dataZoom: []
    };
    chartPenalty.setOption(opt_chartPenalty);
    refresh_chart_Penalty = function() {
        chartPenalty.showLoading();
        $.get('/summary/GetJson_penalty?' + chartInput, function(json_response) {
            // json_response = {'userAmount': userAmount, 'amount': amount, 'num': num}
            chartPenalty.hideLoading();
            if (!json_response.errMsg) {
                var userAmount = json_response.userAmount;
                var amount = json_response.amount;
                var num = json_response.num;
                // 设定查询工号标志坐标
                var index_userAmount = 0;
                for (var i = 0; i < amount.length; i++) {
                    if (amount[i].toString() == parseInt(userAmount).toString()) {
                        index_userAmount = i;
                        break;
                    }
                }
                var startPoint = (parseInt(userAmount) - 33 > 0) ? (parseInt(userAmount) - 33) : 0;
                var endPoint = (parseInt(userAmount) + 33 > amount[amount.length - 1]) ? amount[amount.length - 1] : (parseInt(userAmount) + 33);
                chartPenalty.setOption({
                    xAxis: [{
                        data: amount
                    }],
                    series: [{
                        data: num,
                        markPoint: {
                            label: {
                                normal: {
                                    formatter: function() {
                                        return userAmount.toString();
                                    },
                                    textStyle: {
                                        fontSize: 10
                                    }
                                }
                            },
                            data: [{
                                name: '此人',
                                coord: [index_userAmount, num[index_userAmount]]
                            }]
                        }
                    }],
                    dataZoom: [{
                        type: 'inside',
                        xAxisIndex: 0,
                        startValue: startPoint,
                        endValue: endPoint
                    }, {
                        type: 'slider',
                        startValue: startPoint,
                        endValue: endPoint
                    }]
                });
            } else {
                showDialog("出错了", json_response.errMsg);
            }
        }, 'json')
    };

    // Chart radar
    var chartRadar = echarts.init(document.getElementById('chartRadar'));

    // 将val限定在min和max间 并取decimal个小数位数返回
    clamp_val = function (val, min, max, decimal) {
        val = val < min ? min : val;
        val = val > max ? max : val;
        return val.toFixed(decimal);
    };

    var value_ACCategory = ({{ vals_summary['ret_access']['count_nodes'] }}) / (430.3 / 0.7) * 10;
        value_ACCategory = clamp_val(value_ACCategory,1,10,1);
    var value_ACPeriodCate = ({{ vals_summary['ret_habit']['count_early'] }}) * 7 - ({{ vals_summary['ret_habit']['count_night'] }}) / 25.3 * 10;
        value_ACPeriodCate = clamp_val(value_ACPeriodCate, 1, 10,1);
    var value_Study = ({{ vals_summary['ret_study']['percent_asc'] }}) * 10;
        value_Study = clamp_val(value_Study, 1,10,1);
    var value_Relation = ({{ vals_summary['ret_social']['num_relations'] }}) / 44 * 10;
        value_Relation = clamp_val(value_Relation, 1, 10,1);
    var value_ConCategory = ({{ vals_summary['ret_bill']['con_per_month'] }});
        value_ConCategory = value_ConCategory < 202.2 * 1.3 ? 10 : (10 - (value_ConCategory - 202.2 * 1.3) / 202.2);
        value_ConCategory = clamp_val(value_ConCategory, 1,10,1);
    var value_penalty = (1 - {{vals_summary['ret_penalty']['percent_asc']}}) * 10 ;
        value_penalty = clamp_val(value_penalty, 1, 10,1);

    var values = [];
    values.push(value_ACCategory);
    values.push(value_ACPeriodCate);
    values.push(value_Study);
    values.push(value_Relation);
    values.push(value_ConCategory);
    values.push(value_penalty);
    var opt_chartRadar = {
        color: ['#ECF0F1'],
        textStyle: {
            color: '#ECF0F1',
            fontSize: 14
        },
        tooltip: {
            trigger: 'axis'
        },
        radar:{
            indicator: [
                {text: '足迹', max: 10},
                {text: '作息', max: 10},
                {text: '学习', max: 10},
                {text: '人脉', max: 10},
                {text: '理财', max: 10},
                {text: '信用', max: 10}
            ],
            center: ['50%', '50%'],
            radius: 120
        },
        series: [{
            type: 'radar',
            tooltip: {
                trigger:'item'
            },
            itemStyle: { normal: { areaStyle: { type: 'default' }}},
            data: [{
                value: values,
                name: userID
            }]
        }]
    };
    chartRadar.setOption(opt_chartRadar);

    // fullpage设定
    var isChartRefreshed = [false,false,false,false,false]; // 防止一次个人成就报告页面访问内重复刷新图表
    $(document).ready(function() {
        $('#fullpage').fullpage({
            // Navigation
            menu: false,
            lockAnchors: false,
            anchors: [],
            navigation: true,
            navigationPosition: 'right',
            navigationTooltips: [],
            showActiveTooltip: false,
            slidesNavigation: true,
            slidesNavPosition: 'bottom',
            // Scrolling
            css3: true,
            scrollingSpeed: 700,
            autoScrolling: true,
            fitToSection: true,
            fitToSectionDelay: 1000,
            scrollBar: false,
            easing: 'easeInOutCubic',
            easingcss3: 'ease',
            loopBottom: false,
            loopTop: false,
            loopHorizontal: true,
            continuousVertical: false,
            normalScrollElements: null,
            scrollOverflow: false,
            touchSensitivity: 5,
            normalScrollElementTouchThreshold: 5,
            // Accessibility
            keyboardScrolling: true,
            animateAnchor: true,
            recordHistory: false,
            // Design
            controlArrows: true,
            verticalCentered: true,
            resize: true,
            sectionsColor: ['#E74C3C', '#E67E22', '#F1C40F', '#2ECC71', '#1ABC9C', '#3498DB', '#9B59B6', '#34495E'],
            paddingTop: '72px',
            paddingBottom: 0,
            fixedElements: '#header, .footer',
            responsiveWidth: 0,
            responsiveHeight: 0,
            // Custom selectors
            sectionSelector: '.section',
            slideSelector: '.slide',
            // events
            // onLeave: function(index, nextIndex, direction){},
            // afterLoad: function(anchorLink, index){},
            // afterRender: function(){},
            // afterResize: function(){},
            // afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){},
            onSlideLeave: function(anchorLink, index, slideIndex) {
                // var leavingSlide = $(this);
                // callback ACCategory
                if (index == 2 && slideIndex == 0  && !isChartRefreshed[0]) {
                    refresh_chart_ACCategory();
                    isChartRefreshed[0] = true;
                }
                // callback ACPeriodCate
                if (index == 3 && slideIndex == 0 && !isChartRefreshed[1]) {
                    refresh_chart_ACPeriodCate();
                    isChartRefreshed[1] = true;
                }
                // callback Relation
                if (index == 5 && slideIndex == 0 && !isChartRefreshed[2]) {
                    refresh_chart_Relation();
                    isChartRefreshed[2] = true;
                }
                // callback ConCategory
                if (index == 6 && slideIndex == 0 && !isChartRefreshed[3]) {
                    refresh_chart_ConCategory();
                    isChartRefreshed[3] = true;
                }
                // callback Penalty
                if (index == 7 && slideIndex == 0 && !isChartRefreshed[4]) {
                    refresh_chart_Penalty();
                    isChartRefreshed[4] = true;
                }
            }
        });
    });
</script>

{% endblock %}