{% extends "charts/charts.html" %} {% block chartField %}


<div class="chartField_full">
<div id="chartNumberTotal" style="width: 100%; height: 50%;"></div>

	<div id="chartNumberGradeB" class="col-xs-3" style="height: 50%;"></div>
	<div id="chartNumberGradePg" class="col-xs-3" style="height: 50%;"></div>
	<div id="chartNumberGradeDr" class="col-xs-3" style="height: 50%;"></div>

</div>

<script>
	var chartNumberTotal = echarts.init(document.getElementById('chartNumberTotal'));
	var chartNumberGradeB = echarts.init(document.getElementById('chartNumberGradeB'));
	var chartNumberGradePg = echarts.init(document.getElementById('chartNumberGradePg'));
	var chartNumberGradeDr = echarts.init(document.getElementById('chartNumberGradeDr'));

	window.addEventListener('resize', function() {
		chartNumberTotal.resize();
		chartNumberGradeB.resize();
		chartNumberGradePg.resize();
		chartNumberGradeDr.resize();
	});

	var optionChartNumberTotal = {
		title: {
			text: '人数统计'
		},
		tooltip: {
			trigger: 'axis'
		},
		toolbox: {
			show: true,
			feature: {
				mark: {
					show: true
				},
				dataView: {
					show: true,
					readOnly: false
				},
				magicType: {
					show: true,
					type: ['bar']
				},
				restore: {
					show: true
				},
				saveAsImage: {
					show: true
				}
			}
		},
		xAxis: {
			type: 'category',
			boundaryGap: true,
			data: ['老师', '本科生', '研究生', '博士生', '其他']
		},
		yAxis: {
			type: 'value',
			name: '人数',
			axisLabel: {
				formatter: '{value} 人'
			}
		},
		series: [{
			name: '人数',
			type: 'bar',
			data: []
		}]
	};

	var optionChartNumberGrade = {
		title: {},
		tooltip: {
			trigger: 'item',
			formatter: "{b} : {c} ({d}%)"
		},
		toolbox: {
			show: true,
			feature: {
				mark: {
					show: true
				},
				dataView: {
					show: true,
					readOnly: false
				},
				restore: {
					show: true
				},
				saveAsImage: {
					show: true
				}
			}
		},
		series: [{
			name: '年级比例',
			type: 'pie',
			radius: '70%',
			center: ['50%', '60%'],
			data: []
		}]
	};

	// set options for charts
	chartNumberTotal.setOption(optionChartNumberTotal);
	chartNumberGradeB.setOption(optionChartNumberGrade);
	chartNumberGradePg.setOption(optionChartNumberGrade);
	chartNumberGradeDr.setOption(optionChartNumberGrade);

	load_number = function() {
		chartNumberTotal.showLoading();
		chartNumberGradeB.showLoading();
		chartNumberGradePg.showLoading();
		chartNumberGradeDr.showLoading();

		$.ajax('/charts/number/getData', {
			type: 'GET',
			success: function(json_response) {
				var json_numberTotal = json_response.json_numberTotal;
				var json_numberGradeB = json_response.json_numberGradeB;
				var json_numberGradePg = json_response.json_numberGradePg;
				var json_numberGradeDr = json_response.json_numberGradeDr;

				chartNumberTotal.hideLoading();
				chartNumberGradeB.hideLoading();
				chartNumberGradePg.hideLoading();
				chartNumberGradeDr.hideLoading();

				chartNumberTotal.setOption({
					series: [{
						data: [json_numberTotal.teacher, json_numberTotal.stuB, json_numberTotal.stuPg, json_numberTotal.stuDr, json_numberTotal.other]
					}]
				});

				// fetch data dynamically
				var names = ['10', '11', '12', '13', '14', '15', '其他'];
				var datas = ['g10', 'g11', 'g12', 'g13', 'g14', 'g15', 'unknown'];

				function json2data(json_numberGrade) {
					var dataOfSeries = [];
					for(var i = 0; i < datas.length; i++) {
						var item = {
							value: eval('json_numberGrade.' + datas[i]),
							name: names[i]
						};
						dataOfSeries.push(item);
					}
					return dataOfSeries;
				}

				chartNumberGradeB.setOption({
					title: {
						text: '本科生各年级比例'
					},
					series: [{
						data: json2data(json_numberGradeB)
					}]
				});

				chartNumberGradePg.setOption({
					title: {
						text: '研究生各年级比例'
					},
					series: [{
						data: json2data(json_numberGradePg)
					}]
				});

				chartNumberGradeDr.setOption({
					title: {
						text: '博士生各年级比例'
					},
					series: [{
						data: json2data(json_numberGradeDr)
					}]
				});
			},
			error: function() {
				showDialog("出错了", "出现意外情况");
			},
			dataType: 'json'
		});
	};
	load_number();
</script>
{% endblock %}