{% extends "charts/charts.html" %} {% block chartField %}

<div id="chartACCategory" class="chartField"></div>

<script>
	// 图表初始化
	var chartACCategory = echarts.init(document.getElementById('chartACCategory'));

	window.addEventListener('resize', function() {
		chartACCategory.resize();
	});

	var optChartACCategory = {
		title: {
			text: '学校门禁类型比例'
		},
		tooltip: {
			trigger: 'item',
			formatter: "{b} <br/>{c} 个 ({d}%)"
		},
		toolbox: {
			show: true,
			feature: {
				mark: {
					show: true
				},
				dataView: {
					show: true,
					readOnly: false
				},
				restore: {
					show: true
				},
			}
		},
		legend: {
			show: true,
			orient: 'vertical',
			left: 'left',
			top: '30%',
			data: []
		},
		series: [{
			name: '学校门禁类型比例',
			type: 'pie',
			radius: '50%',
			center: ['45%', '45%'],
			data: []
		}]
	};

	chartACCategory.setOption(optChartACCategory);

	refresh_chart = function() {
		chartACCategory.showLoading();
		
		$.ajax('/charts/schaccategory/getData?' + $("#form-ipt").serialize(), {
			type: 'GET',
			success: function(json_response) {
				chartACCategory.hideLoading();
				// chartACCategory.setOption(optChartACCategory);

				if(!json_response.errMsg) {
					var titles = json_response.titles;
					var seriesData = json_response.seriesData;

					chartACCategory.setOption({
						legend: {
							data: titles
						},
						series: [{
							data: seriesData
						}]
					});
				} else {
					showDialog("出错了", json_response.errMsg);
				}
			},
			error: function() {
				showDialog("出错了", "出现意外情况");
			},
			dataType: 'json'
		});
	};

	$(document).ready(function() {
		refresh_chart();
	});

</script>
{% endblock %}