{% extends "charts/charts.html" %} {% block chartField %}

<!--Echarts图表-->
<div id="chartSchAcCategory" class="chartField_half"></div>

<!--DataTables表格-->
<div id="dataTableContainer" class="formField">
	<table id="tableSchAcCategory">
		<thead>
			<tr>
				<th>类型</th>
				<th>次数</th>
				<th>比例</th>
			</tr>
		</thead>
	</table>
</div>


<script>
	// 图表初始化
	var chartSchAcCategory = echarts.init(document.getElementById('chartSchAcCategory'));

	window.addEventListener('resize', function() {
		chartSchAcCategory.resize();
	});

	var optchartSchAcCategory = {
		title: {
			text: '学校门禁类型比例'
		},
		tooltip: {
			trigger: 'item',
			formatter: "{b} <br/>{c} 个 ({d}%)"
		},
		toolbox: {
			show: true,
			feature: {
				mark: {
					show: true
				},
				dataView: {
					show: true,
					readOnly: false
				},
				restore: {
					show: true
				},
			}
		},
		legend: {
			show: true,
			orient: 'vertical',
			left: 'left',
			top: '30%',
		},
		series: [{
			name: '学校门禁类型比例',
			type: 'pie',
		}]
	};

	chartSchAcCategory.setOption(optchartSchAcCategory);

	refresh_chart = function() {
		chartSchAcCategory.showLoading();
		
		$.ajax('/charts/schaccategory/getData?' + $("#form-ipt").serialize(), {
			type: 'GET',
			success: function(json_response) {
				chartSchAcCategory.hideLoading();

				if(!json_response.errMsg) {
					var titles = json_response.titles;
					var seriesData = json_response.seriesData;

					// 刷新图表
					chartSchAcCategory.setOption({
						legend: {
							data: titles
						},
						series: [{
							data: seriesData
						}]
					});
					
					// 刷新表格
					var form_columns= [{data:"类型"},{data:"次数"},{data:"比例"}];
					var form_data=[];
					
					var i,sum=0;
					for (i=0;i<seriesData.length;i++){
						sum+=seriesData[i]["value"];
						form_data=form_data.concat({"类型":seriesData[i]["name"],"次数":seriesData[i]["value"]});
					}
					for (i=0;i<seriesData.length;i++){
						form_data[i]["比例"]= (Math.round(form_data[i]["次数"] / sum * 10000) / 100.00 + "%");
					}
					
					$("#tableSchAcCategory").dataTable({
						destroy: true,
						columns: form_columns,
						data: form_data,
						ordering: true,
					});
					
				} else {
					showDialog("出错了", json_response.errMsg);
				}
			},
			error: function() {
				showDialog("出错了", "出现意外情况");
			},
			dataType: 'json'
		});
	};

	$(document).ready(function() {
		refresh_chart();
		$("#tableSchAcCategory").dataTable();
	});

</script>
{% endblock %}