{% extends "charts/charts.html" %}
{% block chartField %}

    <!--place divs for charts-->
    <div id="chartNumberTotal" style="width: inherit; height: 350px;"></div>

    <div class="row" style="height: 400px;">
    <div id="chartNumberGradeB" class="col-xs-3" style="height: inherit;"></div>
    <div id="chartNumberGradePg" class="col-xs-3" style="height: inherit;"></div>
    <div id="chartNumberGradeDr" class="col-xs-3"style="height: inherit;"></div>
    </div>

{#    <div id="chartNumberGradeB" style="width: inherit; height: 350px;"></div>#}
{#    <div id="chartNumberGradePg" style="width: inherit; height: 350px;"></div>#}
{#    <div id="chartNumberGradeDr" style="width: inherit; height: 350px;"></div>#}

    <script>
        <!--init charts-->
        var chartNumberTotal = echarts.init(document.getElementById('chartNumberTotal'));
        var chartNumberGradeB = echarts.init(document.getElementById('chartNumberGradeB'));
        var chartNumberGradePg = echarts.init(document.getElementById('chartNumberGradePg'));
        var chartNumberGradeDr = echarts.init(document.getElementById('chartNumberGradeDr'));

        // 不知道怎么把事件放在一起。
        window.onresize = chartNumberTotal.resize;
        window.onresize = function(){
            chartNumberTotal.resize;
            chartNumberGradeB.resize;
            chartNumberGradePg.resize;
            chartNumberGradeDr.resize;
        }

{#        window.onresize = chartNumberTotal.resize;#}
{#        window.onresize = chartNumberGradeB.resize;#}
{#        window.onresize = chartNumberGradePg.resize;#}
{#        window.onresize = chartNumberGradeDr.resize;#}


        <!--start options for charts-->
        var optionChartNumberTotal = {
            title: {text: '人数统计'},
            tooltip: {trigger: 'axis'},
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: true,
                data: ['老师', '本科生', '研究生', '博士生', '其他']
            },
            yAxis: {
                type: 'value',
                name: '人数',
                axisLabel: {
                    formatter: '{value} 人'
                }
            },
            series: [
                {
                    name: '人数',
                    type: 'bar',
                    data: []
                }
            ]
        };

        var optionChartNumberGrade = {
            title: {
            },
            tooltip: {
                trigger: 'item',
                formatter: "{b} : {c} ({d}%)"
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            <!--legend: {-->
                <!--show: true,-->
                <!--orient: 'horizontal',-->
                <!--left: 'center',-->
                <!--data: ['10', '11', '12', '13', '14', '15', '其他']-->
            <!--},-->
            series: [{
                name: '年级比例',
                type: 'pie',
                radius: '70%',
                center: ['50%', '50%'],
                data: []
            }]
        };

        <!--set options for charts-->
        chartNumberTotal.setOption(optionChartNumberTotal);
        chartNumberGradeB.setOption(optionChartNumberGrade);
        chartNumberGradePg.setOption(optionChartNumberGrade);
        chartNumberGradeDr.setOption(optionChartNumberGrade);

        load_number = function () {

            chartNumberTotal.showLoading();
            chartNumberGradeB.showLoading();

            $.get('/charts/number/getData?', function (json_response) {

                json_numberTotal = json_response.json_numberTotal;
                json_numberGradeB = json_response.json_numberGradeB;
                json_numberGradePg = json_response.json_numberGradePg;
                json_numberGradeDr = json_response.json_numberGradeDr;

                chartNumberTotal.hideLoading();
                chartNumberGradeB.hideLoading();

                    chartNumberTotal.setOption({
                        series: [
                            {
                                data: [json_numberTotal.teacher, json_numberTotal.stuB, json_numberTotal.stuPg, json_numberTotal.stuDr, json_numberTotal.other]
                            }
                        ]
                    });

                <!--fetch data dynamically-->
                names = new Array('10', '11', '12', '13', '14', '15', '其他');
                datas = new Array('g10', 'g11', 'g12', 'g13', 'g14', 'g15', 'unknown')

                function json2data (json_numberGrade) {
                    var dataOfSeries = [];
                    for ( var i = 0; i < datas.length; i++ ) {
                        var item = {
                        value: eval('json_numberGrade.'+datas[i]),
                        name: names[i]
                        }
                        dataOfSeries.push(item);
                    }
                    return dataOfSeries;
                }

                chartNumberGradeB.setOption({
                    title: {
                        text: '各年级本科生比例'
                    },
                    series: [
                        {
                            data: json2data(json_numberGradeB)
                        }
                    ]
                });

                chartNumberGradePg.setOption({
                    title: {
                        text: '各年级研究生比例'
                    },
                    series: [
                        {
                            data: json2data(json_numberGradePg)
                        }
                    ]
                });

                chartNumberGradeDr.setOption({
                    title: {
                        text: '各年级博士生比例'
                    },
                    series: [
                        {
                            data: json2data(json_numberGradeDr)
                        }
                    ]
                });

            }, 'json')
        };
    </script>

{% endblock %}