{% extends "charts/charts.html" %}
{% block chartField %}

    <form id="form-ipt" class="form-inline">
        {{ form.modeTime.label }}
        {% for subfield in form.modeTime %}
            {{ subfield }}{{ subfield.label }}
            &nbsp;&nbsp;
        {% endfor %}
        <input class="btn btn-primary" type="button" value="确认" onclick="refresh_chart()"/>
    </form>

    <div id="chartTimeDistribution" style="width: inherit; height: 350px;"></div>

    <script>

        // 图表初始化。
        var chartTimeDistribution = echarts.init(document.getElementById('chartTimeDistribution'));

        var optionChartTime = {
            title: {text: '餐饮收入分布'},
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    var str_return = params[0].name + '<br/>';
                    for (var i = 0; i < params.length; i++) {
                        str_return += params[i].seriesName + ' : ' + params[i].value.toFixed(2) + ' 元<br/>'
                    }
                    return str_return;
                }
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {data: ['收入总额']},
            xAxis: {
                type: 'category',
                boundaryGap: true,
                data: []
            },
            yAxis: {
                type: 'value',
                name: '平均收入',
                axisLabel: {
                    formatter: function (params) {
                        return params / 1000 + '万元';
                    }
                }
            },
            dataZoom: [
                {   type: 'inside',
                    xAxisIndex: [0],
                    start: 0,
                    end: 100
                },
                {   type: 'slider',
                    xAxisIndex: [0],
                    start: 0,
                    end: 100
                }
            ],
            series: [{
                name: '收入总额',
                type: 'bar',
                data: []
            }]
        };

        chartTimeDistribution.setOption(optionChartTime);

        var json_timeDistribution;

        // get向后端请求json刷新图表。
        refresh_chart = function () {
            chartTimeDistribution.showLoading();

            $.get('/charts/foodIncome/getData?' + $("#form-ipt").serialize(), function (json_response) {
                chartTimeDistribution.hideLoading();
                json_timeDistribution = json_response.json_timeDistribution;
                chartTimeDistribution.setOption(optionChartTime);

                if (!json_response.errMsg) {
                    chartTimeDistribution.setOption({
                        xAxis: [{
                            data: json_timeDistribution.axisLabels
                        }],
                        series: [{
                            data: json_timeDistribution.vals
                        }]
                    });

                } else {
                    for (err in json_response.errMsg) {
                        alert(json_response.errMsg[err]);
                    }
                }
            }, 'json')
        };
    </script>
{% endblock %}