{% extends "charts/charts.html" %}
{% block chartField %}

    <script src="{{ url_for('static',filename='echarts2/echarts.js') }}"></script>

    <form id="form-ipt" class="form-inline">
        {{ form.userID(class="form-control", maxlength='8', placeholder='工号', value='XQXXQQTQ') }}
        <input class="btn btn-primary" type="button" value="确认" onclick="refresh_chart()"/>
    </form>

    <div id="chartRelation" style="width: inherit; height: 90%;"></div>

    <script>
        var chartRelation;
        require.config({
            paths: {
                echarts: '{{ url_for('static',filename='echarts2') }}'
            }
        });
        require(
                [
                    'echarts',
                    'echarts/chart/force',
                    'echarts/chart/chord'
                ],
                function (ec) {
                    chartRelation = ec.init(document.getElementById('chartRelation'));
                    chartRelation.setOption(option);
                }
        );

{#        var chartRelation = echarts.init(document.getElementById('chartRelation'));#}
        window.addEventListener('resize', function () {
            chartRelation.resize()
        });

        // 初始化标题设置无效？
        option = { title: { text: '人脉关系图' } };

{#        var optionChartRelation = {#}
{#            title: { text: '人脉关系' },#}
{#            legend: { data: [] },#}
{#            tooltip: {#}
{#                trigger: 'item',#}
{#                formatter: function(params){#}
{#                    if (typeof(params['data']['value'])==="undefined")#}
{#                        return '';#}
{#                        return params['name'];#}
{#                    else#}
{#                        return params['name'] + ' : ' + params['data']['value'];#}
{#                }#}
{#            },#}
{#            animation: true,#}
{#            animationDuration: 2000,#}
{#            animationEasingUpdate: 'quinticInOut',#}
{#            series: []#}
{#        };#}
{#        chartRelation.setOption(optionChartRelation);#}


        refresh_chart = function () {
            chartRelation.showLoading();
            $.get('/charts/relation/getData?' + $("#form-ipt").serialize(), function (json_response) {
{#                chartRelation.setOption(optionChartRelation);#}
                chartRelation.hideLoading();

                if (!json_response.errMsg) {

                    // 直接默认显示的 node label 限制
                    var min_show_symSize = 1;   // 样式大小
                    var max_show_idx = 10;      // 数量

                    // 处理点
                    json_response.nodes.map(function (node, idx) {
                        node.id = idx;
{#                        node.label = {#}
{#                            normal: {#}
{#                                show: node.symbolSize > 20 && idx < 10#}
{#                            }#}
                            node.itemStyle = {normal:{label:{
                                    show: node.symbolSize > min_show_symSize && idx < max_show_idx,
                                    textStyle:{
                                        color: '#000'
                                    }
                                }
                            }
                        };
                        return node;
                    });

                    chartRelation.setOption({
                        title: {
                            text: '人脉关系图'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: function (params) {
                                console.log(params);
                                if (typeof(params[3]) === 'undefined') {    // nodes
                                    return params[1] + ' : ' + params[2];
                                } else {                                    // links
                                    return params[1];
                                }
                            }
                        },
                        series: [{
                            type: 'force',
{#                            layout: 'force',#}
                            roam: true,
                            draggable: true,
                            itemStyle: {
                                normal: {
                                    nodeStyle: {
                                        color: ['#c23531'],
                                        borderWidth: 0
                                    }
                                }
                            },
                            nodes: json_response.nodes,
                            links: json_response.links
{#                            nodeScaleRatio: 0,#}
{#                            itemStyle:{#}
{#                                normal:{#}
{#                                    label: {#}
{#                                        show: false,#}
{#                                        position: 'right',#}
{#                                        formatter: '{b}',#}
{#                                        textStyle: {#}
{#                                            color: '#000'#}
{#                                        }#}
{#                                    }#}
{#                                },#}
{#                                emphasis: {#}
{#                                    label: {#}
{#                                        show: true,#}
{#                                        formatter: ' '#}
{#                                    }#}
{#                                }#}
{#                            },#}
{#                            label: {#}
{#                                normal: {#}
{#                                    show: false,#}
{#                                    position: 'right',#}
{#                                    formatter: '{b}',#}
{#                                    textStyle: {#}
{#                                        color: '#000'#}
{#                                    }#}
{#                                },#}
{#                                emphasis: {#}
{#                                    show: true,#}
{#                                    formatter: ' '#}
{#                                }#}
{#                            },#}

{#                            force: {#}
{#                                initLayout: 'circular',#}
{#                                // gravity: 0,#}
{#                                edgeLength: 200,#}
{#                                repulsion: 200#}
{#                            },#}
{#                            lineStyle: {#}
{#                               normal:{#}
{#                                   width: 2#}
{#                               }#}
{#                            },#}
                        }]
                    });
                } else {
                    alert(json_response.errMsg);
                }
            }, 'json')
        };
    </script>

{% endblock %}