{% extends 'base.html' %}
{% block content %}

    <div style="padding-top: 72px">
        <div class="col-xs-2 btn-group-vertical">
            {% block sideList %}

                {% macro nav_side(url_fun, value) -%}
                    {% if request.path == url_for(url_fun) %}
                        <input type="button" class="btn btn-info" value={{ value }}
                               onclick="window.location.href='{{ url_for(url_fun) }}'"/>
                    {% else %}
                        <input type="button" class="btn btn-default" value={{ value }}
                               onclick="window.location.href='{{ url_for(url_fun) }}'"/>
                    {% endif %}
                {%- endmacro %}

                {{ nav_side('show_chart_expenditure','个体支出趋势与分布') }}
                {{ nav_side('show_chart_acperiodcate','个体门禁类型时间分布') }}
                {{ nav_side('show_chart_income','刷卡机收入趋势与分布') }}
                {{ nav_side('show_chart_foodIncome','餐饮收入趋势与分布') }}
                {{ nav_side('show_chart_acvalid','个体合法门禁比例') }}
                {{ nav_side('show_chart_accategory','个体门禁分类分布') }}
                {{ nav_side('show_chart_concategory','个体消费分类分布') }}
                {{ nav_side('show_chart_number','人数统计') }}
                {{ nav_side('show_chart_conWaterTime','水消费规律') }}
                {{ nav_side('show_chart_conability','个体消费能力认定') }}
                {{ nav_side('show_chart_conwater','男女生用水情况') }}
                {{ nav_side('show_chart_penalty','个体滞纳金缴费情况') }}
                {{ nav_side('show_chart_relation','人际关系') }}

            {% endblock %}
        </div>

        <div class="col-xs-10" style="left: 16.66%; position:absolute; height: 80%;">
            {% block chartField %}
            {% endblock %}
        </div>
    </div>

{% endblock %}