{% extends "charts/charts.html" %}
{% block chartField %}

    <form id="form-ipt" class="form-inline">
        {{ form.modeTime.label }}
        {% for subfield in form.modeTime %}
            {{ subfield(onchange='refresh_chart()') }}{{ subfield.label }}
            &nbsp;&nbsp;
        {% endfor %}
        <input class="btn btn-primary" type="button" value="刷新" onclick="refresh_chart()"/>
    </form>

    <div id="chartTimeDistribution" style="width: inherit; height: 90%;"></div>

    <script>
        // 图表初始化。
        var chartTimeDistribution = echarts.init(document.getElementById('chartTimeDistribution'));
        window.addEventListener('resize', function () {
            chartTimeDistribution.resize();
        });

        var optionChartTime = {
            title: {text: '用水消费分布'},
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    var str_return = params[0].name + '<br/>';
                    for (var i = 0; i < params.length; i++) {
                        str_return += params[i].seriesName + ' : ' + params[i].value.toFixed(2) + ' 元<br/>'
                    }
                    return str_return;
                }
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {data: ['消费总额']},
            xAxis: {
                type: 'category',
                boundaryGap: true,
                data: []
            },
            yAxis: {
                type: 'value',
                name: '平均消费',
                axisLabel: {
                    formatter: function(params){
                        return params/1000 + '万元';
                    }
                }
            },
            dataZoom: [
                {   type: 'inside',
                    xAxisIndex: [0],
                    start: 0,
                    end: 100
                },
                {   type: 'slider',
                    xAxisIndex: [0],
                    start: 0,
                    end: 100
                }
            ],
            series: [{
                name: '消费总额',
                type: 'bar',
                data: []
            }]
        };
        chartTimeDistribution.setOption(optionChartTime);

        refresh_chart = function () {
            chartTimeDistribution.showLoading();

            $.ajax('/charts/conwatertime/getData?' + $("#form-ipt").serialize(), {
                type: 'GET',
                success: function (json_response) {
                    chartTimeDistribution.hideLoading();
                    chartTimeDistribution.setOption(optionChartTime);

                    if (!json_response.errMsg) {
                        var json_timeDistribution;
                        json_timeDistribution = json_response.json_timeDistribution;

                        chartTimeDistribution.setOption({
                            xAxis: [{
                                data: json_timeDistribution.axisLabels
                            }],
                            series: [{
                                data: json_timeDistribution.vals
                            }]
                        });

                    } else {
                        showDialog("出错了", json_response.errMsg);
                    }
                },
                error: function () {
                    showDialog("出错了", "与服务器断开连接");
                },
                dataType: 'json'
            });
        };
        refresh_chart();
    </script>
{% endblock %}