{% extends "charts/charts.html" %}
{% block chartField %}

    <form id="form-ipt" class="form-inline">
        {{ form.userID(class="form-control", maxlength='8', placeholder='工号', value='PPPWQHXW') }}
        {{ form.dateRange(class="form-control",size='23',placeholder='日期范围') }}
        <input class="btn btn-primary" type="button" value="确认" onclick="refresh_chart()"/>
    </form>

    <div id="chartACCategory" style="width: inherit; height: 90%;"></div>

    <script>
        var dateRangePicker = $("input[name='dateRange']");
        dateRangePicker.daterangepicker({
            autoUpdateInput: false,
            locale: {
                format: 'YYYY-MM-DD',
                cancelLabel: 'Clear'
            }
        });
        dateRangePicker.on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD') + ' ~ ' + picker.endDate.format('YYYY-MM-DD'));
        });
        dateRangePicker.on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });

        // 图表初始化。
        var chartACCategory = echarts.init(document.getElementById('chartACCategory'));
        window.addEventListener('resize', function () {
            chartACCategory.resize();
        });

        var optionChartACCategory = {
            title: {text: '门禁分类'},
            tooltip: {
                trigger: 'item',
                formatter: "{b} : {c} 次 ({d}%)"
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {
                show: true,
                orient: 'vertical',
                left: 'left',
                top: '30%',
                data: []
            },
            series: [{
                name: '消费分布',
                type: 'pie',
                radius: '50%',
                center: ['45%', '45%'],
                data: []
            }]
        };

        chartACCategory.setOption(optionChartACCategory);

        refresh_chart = function () {
            if ($("#userID").val() == '') return;

            chartACCategory.showLoading();
            $.ajax('/charts/accategory/getData?' + $("#form-ipt").serialize(), {
                type: 'GET',
                success: function (json_response) {
                    chartACCategory.hideLoading();
                    chartACCategory.setOption(optionChartACCategory);

                    if (!json_response.errMsg) {
                        var titles;
                        var seriesData;
                        titles = json_response.titles;
                        seriesData = json_response.seriesData;

                        chartACCategory.setOption({
                            legend: {data: titles},
                            series: [{data: seriesData}]
                        });
                    } else {
                        showDialog("出错了", json_response.errMsg);
                    }
                },
                error: function () {
                    showDialog("出错了","与服务器断开连接");
                },
                dataType: 'json'
            });
        };
        $(document).ready(function () {
            refresh_chart();
        });
    </script>
{% endblock %}