{% extends "charts/charts.html" %}
{% block chartField %}

    <form id="form-ipt" class="form-inline" >
        {{ form.userID(class="form-control", maxlength='8', placeholder='工号', value='NLPANWPQ')}}
        <input class="btn btn-primary" type="button" value="确认" onclick="refresh_chart()"/>
    </form>

    <div id="chartConAbility" style="width: inherit; height: 90%;"></div>

    <script>

        // 图表初始化。
        var chartConAbility = echarts.init(document.getElementById('chartConAbility'));

        var optionChartConAbility = {
            title: {text: '消费能力'},
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    var str_return = '月均 ' + params[0].name + ' 元<br/>';
                        str_return += params[0].seriesName + ' : ' + params[0].value  + ' 人<br/>';
                    return str_return;
                }
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                name: '平均月消费',
                data: []
            },
            yAxis: {
                type: 'value',
                name: '人数',
                axisLabel: {
                    formatter: '{value} 人'
                }
            },
            series: [{
                    name: '人数',
                    type: 'line',
                    smooth: true,
                    stack: 'a',
                    areaStyle: {
                        normal: {}
                    },
                    data: [],
                    markPoint: {
                        data : []
                        }
                    }
            ],
            dataZoom: []
        };

        chartConAbility.setOption(optionChartConAbility);

        refresh_chart = function () {
            chartConAbility.showLoading();

            $.get('/charts/conability/getData?' + $("#form-ipt").serialize(), function (json_response) {

                var userAmount = json_response.userAmount;
                var amount = json_response.amount;
                var num = json_response.num;
                var index_userAmount = 0;

                for (var i = 0; i < amount.length; i++) {
                    if (amount[i].toString() == parseInt(userAmount).toString()) {
                        index_userAmount = i;
                        break;
                    }
                }

                chartConAbility.hideLoading();

                if (!json_response.errMsg) {

                    var startPoint = (parseInt(userAmount) - 77 > 0) ? (parseInt(userAmount) - 77): 0;
                    var endPoint = (parseInt(userAmount) + 77 > amount[amount.length - 1]) ? amount[amount.length - 1] : (parseInt(userAmount) + 77);

                    chartConAbility.setOption({
                        xAxis: [{
                            data: amount
                        }],
                        series: [{
                                data: num,
                                markPoint: {
                                    label: {
                                        normal: {
                                            formatter: function () {return userAmount.toString();},
                                            textStyle: {fontSize: 10}
                                        }
                                    },
                                    data: [
                                    {
                                        name: '此人',
                                        coord: [index_userAmount, num[index_userAmount]]
                                    }]
                                }
                        }],
                        dataZoom: [
                            {
                                type: 'inside',
                                xAxisIndex: 0,
                                startValue: startPoint,
                                endValue: endPoint
                            },
                            {
                                type: 'slider',
                                startValue: startPoint,
                                endValue: endPoint
                            }
                        ],
                    });
                } else {
                    for (err in json_response.errMsg) {
                        alert(json_response.errMsg[err]);
                    }
                }
            }, 'json')
        };
    </script>

{% endblock %}