{% extends "charts/charts.html" %} {% block chartField %}

<form id="form-ipt" class="form-inline">
	{{ form.modeTime.label }} {% for subfield in form.modeTime %} {{ subfield(onchange="refresh_data()") }}{{ subfield.label }} &nbsp;&nbsp; {% endfor %}
	<input class="btn btn-primary" type="button" value="刷新" onclick="refresh_data()" />
</form>

<div id="chartConFood" class="chartField_full"></div>

<script>
	var optChartConFood = {
		title: {
			text: '学校餐饮消费时间分布'
		},
		tooltip: {
			trigger: 'axis',
//			formatter: function(params) {
//				var str_return = params[0]['name'] + '<br/>';
//				for(var i = 0; i < params.length; i++) {
//					str_return += params[i]['seriesName'] + ' : ' + params[i]['value'].toFixed(2) + ' 元<br/>'
//				}
//				return str_return;
//			}
		},
		toolbox: {
			show: true,
			feature: {
				mark: {
					show: true
				},
				dataView: {
					show: true,
					readOnly: false
				},
				magicType: {
					show: true,
					type: ['line', 'bar']
				},
				restore: {
					show: true
				},
			}
		},
		legend: {
			data: ['消费总额']
		},
		xAxis: {
			type: 'category',
			boundaryGap: true,
			data: []
		},
		yAxis: {
			type: 'value',
			name: '平均消费',
			axisLabel: {
				formatter: function(value, index) {
					if(value > 10000) return value / 10000 + '万元';
					else return value + '元';
				}
			}
		},
		dataZoom: [{
			type: 'inside',
			xAxisIndex: [0],
			start: 0,
			end: 100
		}, {
			type: 'slider',
			xAxisIndex: [0],
			start: 0,
			end: 100
		}],
		series: [{
			name: '消费总额',
			type: 'bar',
			data: []
		}]
	};

	refresh_data = function() {
		chartConFood.showLoading();

		$.ajax('/charts/confood/getData?' + $("#form-ipt").serialize(), {
			type: 'GET',
			success: function(json_response) {
				chartConFood.hideLoading();

				if(!json_response.errMsg) {
					var axisLabels = json_response['axisLabels'];
					var vals = json_response['vals'];

					chartConFood.setOption({
						xAxis: [{
							data: axisLabels,
						}],
						series: [{
							data: vals,
						}],
					});

				} else {
					showDialog("出错了", json_response.errMsg);
				}
			},
			error: function() {
				showDialog("出错了", "出现意外情况");
			},
			dataType: 'json'
		});
	};

	// 图表初始化
	var chartConFood = echarts.init(document.getElementById('chartConFood'));
	chartConFood.setOption(optChartConFood);
	window.addEventListener('resize', function() {
		chartConFood.resize();
	});
	$(document).ready(function() {
		refresh_data();
	})
</script>
{% endblock %}