{% extends "charts/charts.html" %} {% block chartField %}

<form id="form-ipt" class="form-inline">
	{{ form.userID(class="form-control", maxlength='8', placeholder='工号', value='XQXXQQTQ') }}
	<input class="btn btn-primary" type="button" value="刷新" onclick="refresh_data()" />
</form>

<div id="chartPovertyJudge" class="chartField_full"></div>

<script>
	var optChartPovertyJudge = {
		title: {
			text: '贫困判定',
		},
		tooltip: {
			trigger: 'axis',
			formatter: function(params) {
				console.log(params);
				if(params['componentType'] == 'markLine') {
					return params['name'] + ":\n" + params['value'];
				} else {
					return params['value'][0] + ", " + params['value'][1];
				}
			},
			showDelay: 0,
			axisPointer: {
				show: true,
				type: 'cross',
				lineStyle: {
					type: 'dashed',
					width: 1
				}
			},
			zlevel: 1
		},
		dataZoom: [{
			type: 'slider',
			show: true,
			xAxisIndex: [0],
			start: 1,
			end: 50
		}, {
			type: 'slider',
			show: true,
			yAxisIndex: [0],
			left: '93%',
			start: 1,
			end: 50
		}, {
			type: 'inside',
			xAxisIndex: [0],
			start: 1,
			end: 50
		}, {
			type: 'inside',
			yAxisIndex: [0],
			start: 1,
			end: 50
		}],
		toolbox: {
			show: true,
			feature: {
				mark: {
					show: true
				},
				dataView: {
					show: true,
					readOnly: false
				},
				restore: {
					show: true
				},
			}
		},
		xAxis: {
			name: '总消费额（元）',
			splitLine: {
				lineStyle: {
					type: 'dashed',
				},
			},
		},
		yAxis: {
			name: '总消费次数（次）',
			splitLine: {
				lineStyle: {
					type: 'dashed',
				},
			},
		},
	};

	refresh_data = function() {
		chartPovertyJudge.showLoading();
		$.ajax('/charts/povertyjudge/getData?' + $("#form-ipt").serialize(), {
			type: 'GET',
			success: function(json_response) {
				chartPovertyJudge.hideLoading();

				if(!json_response.errMsg) {
					var vals_times_list = json_response['vals_times_list'];
					var targetUser = json_response['targetUser'];
					var targetName = targetUser['name'];

					console.log(targetUser);

					chartPovertyJudge.setOption({
						legend: {
							data: ["所有学生", targetName],
						},
						visualMap: {
							type: 'continuous',
							left: 'left',
							top: '50%',
							textGap: 30,
							min: 0,
							max: 20,
							calculable: true,
							text: ['平均消费额（元）'],
							inRange: {
								color: ['#50a3ba', '#eac736', '#d94e5d'],
							},
						},
						series: [{
							name: "所有学生",
							type: "scatter",
							data: vals_times_list,
							symbolSize: 5,
						}, {
							name: targetName,
							type: "scatter",
							data: [targetUser],
							symbolSize: 10,
							visualMap: false,
							markLine: {
								lineStyle: {
									normal: {
										type: 'solid',
									}
								},
								data: [{
									name: targetName + "的总消费额",
									xAxis: targetUser['value'][0],
								}, {
									name: targetName + "的总消费次数",
									yAxis: targetUser['value'][1],
								}, ]
							}
						}],
					})

				} else {
					showDialog("出错了", json_response.errMsg);
				}
			},
			error: function() {
				showDialog("出错了", "出现意外情况");
			},
			dataType: 'json'
		});

	};

	// 图表初始化
	var chartPovertyJudge = echarts.init(document.getElementById('chartPovertyJudge'));
	chartPovertyJudge.setOption(optChartPovertyJudge);
	window.addEventListener('resize', function() {
		chartPovertyJudge.resize();
	});
	$(document).ready(function() {
		refresh_data();
	});
</script>
{% endblock %}