{% extends "charts/charts.html" %}
{% block chartField %}
    <!-- This file is deprecated, replaced by chart-numberBar.html -->
    <!--place divs for charts-->
    <div id="chartNumberTotal" style="width: inherit; height: 50%;"></div>
    <div id="chartNumberGrade" style="width: inherit; height: 50%;"></div>

    <script>
        var chartNumberTotal = echarts.init(document.getElementById('chartNumberTotal'));
        var chartNumberGrade = echarts.init(document.getElementById('chartNumberGrade'));
        $(window).resize(function () {
            chartNumberTotal.resize();
            chartNumberGrade.resize();
        });

        // start options for charts
        var optionChartNumberTotal = {
            title: {text: '人数统计'},
            tooltip: {trigger: 'axis'},
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: true,
                data: ['老师', '本科生', '研究生', '博士生', '其他']
            },
            yAxis: {
                type: 'value',
                name: '人数',
                axisLabel: {
                    formatter: '{value} 人'
                }
            },
            series: [
                {   name: '人数',
                    type: 'bar',
                    data: []
                }
            ]
        };

        var optionChartNumberGrade = {
            title: {
                text: '本科生、研究生、博士生各年级比例'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['10','11','12','13','14','15','其他']
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            xAxis: [
                {   type: 'category',
                    data: ['本科生', '研究生', '博士生']
                }
            ],
            yAxis: [
                { type : 'value' }
            ],
            series: []
        };

        // set options for charts
        chartNumberTotal.setOption(optionChartNumberTotal);
        chartNumberGrade.setOption(optionChartNumberGrade);

        load_number = function () {

            chartNumberTotal.showLoading();
            chartNumberGrade.showLoading();

            $.get('/charts/number/getData?', function (json_response) {

                json_numberTotal = json_response.json_numberTotal;
                json_numberGradeB = json_response.json_numberGradeB;
                json_numberGradePg = json_response.json_numberGradePg;
                json_numberGradeDr = json_response.json_numberGradeDr;

                chartNumberTotal.hideLoading();
                chartNumberGrade.hideLoading();

                    chartNumberTotal.setOption({
                        series: [{
                            data: [json_numberTotal.teacher, json_numberTotal.stuB, json_numberTotal.stuPg, json_numberTotal.stuDr, json_numberTotal.other]
                        }]
                    });

                // try generate series dynamically
                names = ['10', '11', '12', '13', '14', '15', '其他'];
                datas = ['g10', 'g11', 'g12', 'g13', 'g14', 'g15', 'unknown'];
                function json2serie () {
                    var serie = [];
                    for ( var i = 0; i < 7; i++ ) {
                        d = [];
                        eval('d.push(json_numberGradeB.' + datas[i] + ')');
                        eval('d.push(json_numberGradePg.' + datas[i] + ')');
                        eval('d.push(json_numberGradeDr.' + datas[i] + ')');
                        var item = {
                            name: names[i],
                            type: 'bar',
                            stack: 'grade',
                            data: d
                        };
                        serie.push(item);
                    }
                    return serie;
                }
                chartNumberGrade.setOption({ series: json2serie() });
            }, 'json')
        };
        load_number();

    </script>
{% endblock %}