<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="基于大学生校园卡数据的分析与挖掘">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Witcampus</title>
        
        <link href="{{ url_for('static',filename='css/font-awesome.min.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static',filename='css/daterangepicker.css') }}" rel="stylesheet"/>
        <!--<link href="{{ url_for('static',filename='css/jquery.fullpage.min.css') }}" rel="stylesheet"/>-->
        <link href="{{ url_for('static',filename='css/buttons.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static',filename='css/witcampus.min.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static',filename='css/witcampusCustom.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static',filename='css/jquery.dataTables.min.css') }}" rel="stylesheet"/>
        <!--<link href="{{ url_for('static',filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet"/>-->
        
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.12.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <!--<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.fullpage.min.js') }}"></script>-->
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.cookie.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.navgoco.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/moment.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/daterangepicker.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/echarts.js') }}" charset="UTF-8"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.dataTables.min.js') }}"></script>
        <!--<script type="text/javascript" src="{{ url_for('static',filename='js/dataTables.bootstrap.min.js') }}"></script>-->pr
    </head>
    <body>

        <!-- Main Navbar -->
        <div id="header">{% block header %}
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div style="padding-left: 55px">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url_for('show_index') }}">WitCampus</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <!-- 导航按钮 -->
                            <li class="dropdown">
                                <a href="{{ url_for('show_charts') }}" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                    	所有图表
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">

									<!--Jinja2宏函数，创建导航下拉菜单按钮-->
                                    {% macro charts_navbtn(url_fun, value) -%}
                                        <li><a href="{{ url_for(url_fun) }}">{{ value }}</a></li>
                                    {%- endmacro %}

                                    <li class="dropdown-header">个人</li>
                                    <li class="dropdown-header">门禁</li>
		                            {{ charts_navbtn('show_chart_accategory','门禁类型比例') }}
									{{ charts_navbtn('show_chart_acdatetrend','门禁日期变化') }}
									{{ charts_navbtn('show_chart_actimedistr','门禁时间分布') }}
									<!--{{ charts_navbtn('show_chart_acvalid','合法门禁比例') }}-->

                                    <li class="dropdown-header">消费</li>
									{{ charts_navbtn('show_chart_concategory','消费类型比例') }}
                                    {{ charts_navbtn('show_chart_condatetrend','消费日期变化') }}
                                    {{ charts_navbtn('show_chart_contimedistr','消费时间分布') }}
									{{ charts_navbtn('show_chart_penalty','滞纳金缴费情况') }}
									<!--{{ charts_navbtn('show_chart_conability','消费能力认定') }}-->

                                    <li class="divider"></li>

                                    <li class="dropdown-header">学校</li>
                                    <!--{{ charts_navbtn('show_chart_income','刷卡机收入趋势与分布') }}-->
                                    {{ charts_navbtn('show_chart_number','人数统计') }}
                                    {{ charts_navbtn('show_chart_schaccategory','学校门禁类型比例') }}
                                    
                                    {{ charts_navbtn('show_chart_schacdatetrend','学校门禁日期变化') }}
                                    {{ charts_navbtn('show_chart_schcondatetrend','学校消费日期变化') }}
                                    {{ charts_navbtn('show_chart_conFood','餐饮消费时间分布') }}
                                    {{ charts_navbtn('show_chart_conWater','用水消费时间分布') }}

                                    <li class="divider"></li>

                                    <li class="dropdown-header">挖掘测试</li>
                                    {{ charts_navbtn('show_chart_relation','人际关系') }}
                                    {{ charts_navbtn('show_chart_povertyjudge','贫困判定') }}
                                </ul>
                            </li>
                            <li><a href="{{ url_for('show_summary_default') }}">个人成就报告</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}</div>

        <div>{% block content %}{% endblock %}</div>

        <!-- 公用错误提示窗口 -->
        <div id="modal-err" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 id="modal-err-title" class="modal-title label label-danger" style="font-size: 18px"></h4>
                    </div>
                    <div class="modal-body">
                        <h3><span id="modal-err-content" style="color: #000;" ></span></h3>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">force_window_resize = function() {
	$(window).trigger("resize");
	$(window).resize();
};
force_window_resize();

// 模态提示框显示
showDialog = function(title, content) {
	document.getElementById("modal-err-title").innerText = title;
	document.getElementById("modal-err-content").innerText = content;
	$("#modal-err").modal('show');
}</script>
    </body>
</html>
