{% extends "charts.html" %}
{% block chartField %}

    <!--place divs for charts-->
    <div id="chartConWater" style="width: inherit; height: 350px;"></div>


    <script>

        <!--init charts-->
        var chartConWater = echarts.init(document.getElementById('chartConWater'));

        <!--start options for charts-->
        var optionChartConWater = {
            title: {text: '男女生用水情况'},
            tooltip: {trigger: 'axis'},
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: true,
                data: ['男生', '女生']
            },
            yAxis: {
                type: 'value',
                name: '用水量',
                axisLabel: {
                    formatter: '{value} 元'
                }
            },
            series: [
                {
                    name: '金额',
                    type: 'bar',
                    data: []
                }
            ]
        };

        <!--set options for charts-->
        chartConWater.setOption(optionChartConWater);

        load_number = function () {

                chartConWater.setOption({
                    series: {
                        data: [1180323.72, 1180773.48]
                    }
                });

        };
    </script>

{% endblock %}