{% extends "charts.html" %}
{% block chartField %}

    <form id="form-ipt" class="form-inline" >
        {{ form.userID(class="form-control", maxlength='8', placeholder='工号', value='NIHHXTXQ')}}
        {{ form.dateRange(class="form-control",size='23',placeholder='日期范围') }}
        <input class="btn btn-primary" type="button" value="确认" onclick="refresh_chart()"/>
    </form>

    <div id="chartACValid" style="width: inherit; height: 400px;"></div>

    <script>
        var dateRangePicker = $("input[name='dateRange']");
        dateRangePicker.daterangepicker({
            autoUpdateInput: false,
            locale: {
                format: 'YYYY-MM-DD',
                cancelLabel: 'Clear'
            }
        });
        dateRangePicker.on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD')+' ~ '+picker.endDate.format('YYYY-MM-DD'));
        });
        dateRangePicker.on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });

        // 图表初始化。
        var chartACValid = echarts.init(document.getElementById('chartACValid'));

        var optionChartACValid = {
            title: {text: '门禁合法比例'},
            tooltip: {
                trigger: 'item',
                formatter: "{b} : {c} ({d}%)"
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {
                show: true,
                orient: 'horizontal',
                left: 'center',
                data: []
            },
            series: [{
                name: '门禁合法比例',
                type: 'pie',
                radious: '50%',
                center: ['50%', '50%'],
                data: []
            }]
        };

        chartACValid.setOption(optionChartACValid);

        var titles;
        var seriesData;

        refresh_chart = function () {
            chartACValid.showLoading();
            $.get('/charts/acvalid/getData?' + $("#form-ipt").serialize(), function (json_response) {
                chartACValid.hideLoading();
                chartACValid.setOption(optionChartACValid);

                if (!json_response.errMsg) {

                    titles = json_response.titles;
                    seriesData = json_response.seriesData;

                    chartACValid.setOption({
                        legend: {data: titles},
                        series: [{data: seriesData}]
                    });
                } else {
                    for (err in json_response.errMsg) {
                        alert(json_response.errMsg[err]);
                    }
                }
            }, 'json')
        };
    </script>

{% endblock %}