{% extends "base.html" %}
{% block chart %}
    <!--在此页中显示输入框，图表作为输出-->
    <form id="form-expenditure" action="/expenditure" method="get">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">工号</span>
                <input class="form-control" name="user_id" type="text" maxlength="8" value="PPQZXPXU" >
            </div>
        </div>
        <div class="form-group">
            <input type="button" value="提交" onclick="refresh_chart()">
        </div>
    </form>
    <div id="chart-expenditure" style="width: 600px; height: 400px;"></div>

    <script>
    	// 图表初始化。
        var chart_expenditure = echarts.init(document.getElementById('chart-expenditure'));
        var option_expenditure = {
            title: {text: '消费趋势'},
            tooltip: {},
            legend: {data: ['消费']},
            xAxis: [{
                type: 'category',
                boundaryGap: false,
                data: []
            }],
            yAxis: [{
                type: 'value'
            }],
            series: [{
                name: '消费',
                type: 'line',
                data: []
            }]
        }
        chart_expenditure.setOption(option_expenditure);

		// get向后端请求json刷新图表。
        refresh_chart = function(){
            $.get('/expenditure/refresh?'+$("#form-expenditure").serialize(), function(json_response){
                var mdates = json_response.mdates;
                var mamounts = json_response.mamounts;

                chart_expenditure.setOption({
                    xAxis: [{
                        data: mdates
                    }],
                    series: [{
                        data: mamounts
                    }]
                })

            },'json');
        }
    </script>

{% endblock %}