{% extends "charts.html" %}
{% block chartField %}

    <form id="form-ipt" class="form-inline" >
        {{ form.devID(class="form-control", maxlength='10', placeholder='设备号') }}
        {{ form.dateRange.label }} {{ form.dateRange(class="form-control",size='23') }}
        {{ form.modeDate.label }}
        {% for subfield in form.modeDate %}
            {{ subfield }}{{ subfield.label }}
            &nbsp;&nbsp;
        {% endfor %}
        <input class="btn btn-primary" type="button" value="确认" onclick="refresh_chart()"/>
    </form>

    <div id="chart" style="width: 800px; height: 500px;"></div>

    <script>
        var dateRangePicker = $("input[name='dateRange']");
        dateRangePicker.daterangepicker({
            autoUpdateInput: false,
            locale: {
                format: 'YYYY-MM-DD',
                cancelLabel: 'Clear'
            }
        });
        dateRangePicker.on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD') + ' ~ ' + picker.endDate.format('YYYY-MM-DD'));
        });
        dateRangePicker.on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });

        // 图表初始化。
        var chart = echarts.init(document.getElementById('chart'));
        var option = {
            title: {text: '收入趋势'},
            tooltip: {trigger: 'axis'},
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {data: ['累积收入', '节点收入']},
            xAxis: {
                type: 'category',
                boundaryGap: true,
                data: []
            },
            yAxis: {
                type: 'value',
                name: '收入',
                axisLabel: {
                    formatter: '{value} 元'
                }
            },
            dataZoom: [
                {
                    type: 'inside',
                    xAxisIndex: [0],
                    start: 0,
                    end: 100
                },
                {
                    type: 'slider',
                    xAxisIndex: [0],
                    start: 0,
                    end: 100
                }
            ],
            series: [
                {
                    name: '累积收入',
                    type: 'line',
                    data: []
                },
                {
                    name: '节点收入',
                    type: 'bar',
                    data: []
                }
            ]
        };
        chart.setOption(option);

        refresh_chart = function () {
            chart.showLoading();
            $.get('/charts/income/getData?' + $("#form-ipt").serialize(), function (json_response) {
                chart.hideLoading();

                if (!json_response.errMsg) {
                    var mdates = json_response.mdates;
                    var mamounts = json_response.mamounts;
                    var mamounts_point = json_response.mamounts_point;

                    chart.setOption({
                        xAxis: [{
                            data: mdates
                        }],
                        series: [
                            {
                                name: '累积收入',
                                data: mamounts
                            },
                            {
                                name: '节点收入',
                                data: mamounts_point
                            }
                        ]
                    });
                } else {
                    for (err in json_response.errMsg) {
                        alert(json_response.errMsg[err]);
                    }
                }
            }, 'json')
        };
    </script>

{% endblock %}