{% extends 'base.html' %}
{% block content %}

    <div class="col-xs-2 btn-group-vertical">
        {% block sideList %}
            <input type="button" class="btn btn-default" value="个体支出趋势与分布" onclick="window.location.href='{{ url_for('show_chart_expenditure') }}'"/>
            <input type="button" class="btn btn-default" value="个体门禁时间分布" onclick="window.location.href='{{ url_for('show_chart_acperiod') }}'"/>
            <input type="button" class="btn btn-default" value="刷卡机收入趋势与分布" onclick="window.location.href='{{ url_for('show_chart_income') }}'"/>
            <input type="button" class="btn btn-default" value="个体合法门禁比例" onclick="window.location.href='{{ url_for('show_chart_acvalid') }}'"/>
            <input type="button" class="btn btn-default" value="个体门禁分类分布" onclick="window.location.href='{{ url_for('show_chart_accategory') }}'"/>
            <input type="button" class="btn btn-default" value="个体消费分类分布" onclick="window.location.href='{{ url_for('show_chart_concategory') }}'"/>

        {% endblock %}
    </div>

    <div class="col-xs-10">
        {% block chartField %}
        {% endblock %}
    </div>

{% endblock %}