{% extends "charts.html" %}
{% block chartField %}

    <form id="form-ipt" class="form-inline">
        {{ form.dateRange(class="form-control",size='23',placeholder='日期范围') }}
        {{ form.modeDate.label }}
        {% for subfield in form.modeDate %}
            {{ subfield }}{{ subfield.label }}
            &nbsp;&nbsp;
        {% endfor %}
        <input class="btn btn-primary" type="button" value="确认" onclick="refresh_chart()"/>
    </form>

    <div id="chartDateTrend" style="width: inherit; height: 350px;"></div>
    <div id="chartTimeDistribution" style="width: inherit; height: 350px;"></div>

    <script>
        var dateRangePicker = $("input[name='dateRange']");
        dateRangePicker.daterangepicker({
            autoUpdateInput: false,
            locale: {
                format: 'YYYY-MM-DD',
                cancelLabel: 'Clear'
            }
        });
        dateRangePicker.on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD') + ' ~ ' + picker.endDate.format('YYYY-MM-DD'));
        });
        dateRangePicker.on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });

        // 图表初始化。
        var chartDateTrend = echarts.init(document.getElementById('chartDateTrend'));
        var chartTimeDistribution = echarts.init(document.getElementById('chartTimeDistribution'));

        var optionChartDate = {
            title: {text: '餐饮收入趋势'},
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    var str_return = params[0].name + '<br/>';
                    for (var i = 0; i < params.length; i++) {
                        str_return += params[i].seriesName + ' : ' + params[i].value.toFixed(2) + ' 元<br/>'
                    }
                    return str_return;
                }
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {data: ['累积收入', '节点收入']},
            xAxis: {
                type: 'category',
                boundaryGap: true,
                data: []
            },
            yAxis: {
                type: 'value',
                name: '收入',
                axisLabel: {
                    formatter: '{value} 元'
                }
            },
            dataZoom: [
                {   type: 'inside',
                    xAxisIndex: [0],
                    start: 0,
                    end: 100
                },
                {   type: 'slider',
                    xAxisIndex: [0],
                    start: 0,
                    end: 100
                }
            ],
            series: [
                {   name: '累积收入',
                    type: 'line',
                    data: []
                },
                {   name: '节点收入',
                    type: 'bar',
                    data: []
                }
            ]
        };
        var optionChartTime = {
            title: {text: '餐饮收入分布'},
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    var str_return = params[0].name + '<br/>';
                    for (var i = 0; i < params.length; i++) {
                        str_return += params[i].seriesName + ' : ' + params[i].value.toFixed(2) + ' 元<br/>'
                    }
                    return str_return;
                }
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {data: ['收入总额']},
            xAxis: {
                type: 'category',
                boundaryGap: true,
                data: []
            },
            yAxis: {
                type: 'value',
                name: '平均收入',
                axisLabel: {
                    formatter: '{value} 元'
                }
            },
            dataZoom: [
                {   type: 'inside',
                    xAxisIndex: [0],
                    start: 0,
                    end: 100
                },
                {   type: 'slider',
                    xAxisIndex: [0],
                    start: 0,
                    end: 100
                }
            ],
            series: [{
                name: '收入总额',
                type: 'bar',
                data: []
            }]
        };

        chartDateTrend.setOption(optionChartDate);
        chartTimeDistribution.setOption(optionChartTime);

        var json_dateTrend;
        var json_timeDistribution;

        // get向后端请求json刷新图表。
        refresh_chart = function () {
            chartDateTrend.showLoading();
            chartTimeDistribution.showLoading();

            $.get('/charts/foodIncome/getData?' + $("#form-ipt").serialize(), function (json_response) {
                chartDateTrend.hideLoading();
                chartTimeDistribution.hideLoading();

                json_dateTrend = json_response.json_dateTrend;
                json_timeDistribution = json_response.json_timeDistribution;

                chartDateTrend.setOption(optionChartDate);
                chartTimeDistribution.setOption(optionChartTime);

                if (!json_response.errMsg) {
                    chartDateTrend.setOption({
                        xAxis: [{
                            data: json_dateTrend.axisLabels
                        }],
                        series: [
                            {
                                name: '累积收入',
                                data: json_dateTrend.accumulatedVals
                            },
                            {
                                name: '节点收入',
                                data: json_dateTrend.pointVals
                            }
                        ]
                    });
                    chartTimeDistribution.setOption({
                        xAxis: [{
                            data: json_timeDistribution.axisLabels
                        }],
                        series: [{
                            data: json_timeDistribution.vals
                        }]
                    });

                } else {
                    for (err in json_response.errMsg) {
                        alert(json_response.errMsg[err]);
                    }
                }
            }, 'json')
        };
    </script>
{% endblock %}