{% extends 'base.html' %}
{% block content %}

<div id="fullpage">
	<div class="section" id="section0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-6 col-sm-6">
					<img data-src="../static/pic/summary/header_boy.png" class="img-responsive center-block">
				</div>
				<div class="col-md-4 col-sm-4">
					<h1>
						工号：{ABCDEFGH}，您好！
					</h1>
					<p></br></p>
					<h4>
						下滑开启成长日记：
					</h4>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
		</div>
	</div>
	<div class="section" id="section1">
		<div class="slide" id="slide1.1">
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-1 col-sm-1"></div>
						<div class="col-md-5 col-sm-5">
							<img data-src="../static/pic/summary/section/section1Footprint.png" class="img-responsive center-block">
						</div>
						<div class="col-md-1 col-sm-1"></div>
						<div class="col-md-4 col-sm-4">
							<h1>
								我的足迹
							</h1>
							<p></br></p>
							<h4>
								在过去的一个月中，我曾在{}个地方留下过足迹，拿下｛｝次门禁记录。</br>
								除了｛｝之外，我最爱的是｛｝。
								我的一小步，人类一大步。
							</h4>
						</div>
						<div class="col-md-1 col-sm-1"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide1.2">
			<h1>门禁记录表</h1>
		</div>
	</div>
	<div class="section" id="section2">
		<div class="slide" id="slide2.1">
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-1 col-sm-1"></div>
						<div class="col-md-5 col-sm-5">
							<img data-src="../static/pic/summary/section/section2Schedule.png" class="img-responsive center-block">
						</div>
						<div class="col-md-1 col-sm-1"></div>
						<div class="col-md-4 col-sm-4">
							<h1>
								我的作息
							</h1>
							<p></br></p>
							<h4>
								又到了起床靠毅力的季节了，我早起｛｝次，也曾在｛｝点～｛｝点之间在寝室之外刷卡，｛无晚归记录，习惯良好！/注意早点休息哟～｝
							</h4>
						</div>
						<div class="col-md-1 col-sm-1"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide2.2">
			<h1>门禁时段记录表</h1>
		</div>
	</div>
	<div class="section" id="section3">
		<div class="slide" id="slide3.1">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-1 col-sm-1"></div>
					<div class="col-md-5 col-sm-5">
						<img data-src="../static/pic/summary/section/section3Study.png" class="img-responsive center-block">
					</div>
					<div class="col-md-1 col-sm-1"></div>
					<div class="col-md-4 col-sm-4">
						<h1>
							我的学习
						</h1>
						<p></br></p>
						<h4>
							上个月中，我成功泡图书馆｛｝次，宅实验室｛｝次，比全校｛｝％的人都更加努力，可以被称为五星级准学霸！
						</h4>
					</div>
					<div class="col-md-1 col-sm-1"></div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide3.2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						图书馆、科研次数
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="section4">
		<div class="content">
			<div class="slide" id="slide3.1">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-1 col-sm-1"></div>
						<div class="col-md-5 col-sm-5">
							<img data-src="../static/pic/summary/section/section4Friends.png" class="img-responsive center-block">
						</div>
						<div class="col-md-1 col-sm-1"></div>
						<div class="col-md-4 col-sm-4">
							<h1>
								我的朋友
							</h1>
							<p></br></p>
							<h4>
								奋斗的路上有更多同伴才更有动力，有｛｝位同学曾与我擦肩而过。</br>
								｛｝童鞋，我们｛｝次不断相遇，难道是缘分，难道是天意。
							</h4>
						</div>
						<div class="col-md-1 col-sm-1"></div>
					</div>
				</div>
			</div>
			<div class="slide" id="slide3.2">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							人际关系
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="section5">
		<div class="content">
			<div class="slide" id="slide3.1">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-1 col-sm-1"></div>
						<div class="col-md-5 col-sm-5">
							<img data-src="../static/pic/summary/section/section5Bill.png" class="img-responsive center-block">
						</div>
						<div class="col-md-1 col-sm-1"></div>
						<div class="col-md-4 col-sm-4">
							<h1>
								我的账单
							</h1>
							<p></br></p>
							<h4>
								｛｝月，我总共花了｛｝元，｛category｝打榜成功，成为我的消费分类TOP 1。</br>
								截止｛｝月，我的月均支出是｛｝元。
							</h4>
						</div>
						<div class="col-md-1 col-sm-1"></div>
					</div>
				</div>
			</div>
			<div class="slide" id="slide3.2">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							支出分类表，月均消费能力
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="section6">
		<div class="content">
			<div class="slide" id="slide3.1">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-1 col-sm-1"></div>
						<div class="col-md-5 col-sm-5">
							<img data-src="../static/pic/summary/section/section6Penalty.png" class="img-responsive center-block">
						</div>
						<div class="col-md-1 col-sm-1"></div>
						<div class="col-md-4 col-sm-4">
							<h1>
								我的信用
							</h1>
							<p></br></p>
							<h4>
								在这一年里，我｛从未超期还书|产生了｛｝元滞纳金｝，信用记录打败｛｝％的同学，｛继续保持噢～|记得及时还书哟～｝
							</h4>
						</div>
						<div class="col-md-1 col-sm-1"></div>
					</div>
				</div>
			</div>
			<div class="slide" id="slide3.2">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							滞纳金图表
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
	    $('#fullpage').fullpage({
	        //Navigation
	        menu: false,
	        lockAnchors: false,
			anchors: [],
	        navigation: true,
	        navigationPosition: 'right',
	        navigationTooltips: [],
	        showActiveTooltip: false,
	        slidesNavigation: true,
	        slidesNavPosition: 'bottom',

	        //Scrolling
	        css3: true,
	        scrollingSpeed: 700,
	        autoScrolling: true,
	        fitToSection: true,
	        fitToSectionDelay: 1000,
	        scrollBar: false,
	        easing: 'easeInOutCubic',
	        easingcss3: 'ease',
	        loopBottom: false,
	        loopTop: false,
	        loopHorizontal: true,
	        continuousVertical: false,
	        normalScrollElements: null,
	        scrollOverflow: false,
	        touchSensitivity: 5,
	        normalScrollElementTouchThreshold: 5,

	        //Accessibility
	        keyboardScrolling: true,
	        animateAnchor: true,
	        recordHistory: false,

	        //Design
	        controlArrows: true,
	        verticalCentered: true,
	        resize : true,
	        // sectionsColor : ['#C0392B', '#D35400', '#F39C12', '#27AE60', '#16A085', '#2980B9', '#8E44AD'],
	        sectionsColor : ['#E74C3C', '#E67E22', '#F1C40F', '#2ECC71', '#1ABC9C', '#3498DB', '#9B59B6'],
	        paddingTop: 0,
	        paddingBottom: 0,
	        fixedElements: '#header, .footer',
	        responsiveWidth: 0,
	        responsiveHeight: 0,

	        //Custom selectors
	        sectionSelector: '.section',
	        slideSelector: '.slide',

	        //events
	        // onLeave: function(index, nextIndex, direction){},
	        // afterLoad: function(anchorLink, index){},
	        // afterRender: function(){},
	        // afterResize: function(){},
	        // afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){},
	        // onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){}
	    });
	});

</script>

{% endblock %}